{{ define "chart-js"}}
<script>
    // charts draw
  function drawTheChart(ChartData, ChartOptions, chartId, ChartType) {
      var myChart = new Chart(document.getElementById(chartId).getContext('2d'),
          {
              type: ChartType,
              data: ChartData,
              options: ChartOptions
          }
       );
      document.getElementById(chartId).getContext('2d').stroke();
  }

  // charts begin
  // charts global vars
  Chart.defaults.global.defaultFontColor = '#fff';
  // charts data
  // pow big
  var blockVersionGraphColors = [
    '','','','','','','','','',
    '23,12,220',   // 9
    '244,100,1',   // 10
    '75,192,192',  // 11
    '41,113,255',  // 12
    '123,22,255',  // 13
    '22,255,122',  // 14
    '28,97,21',    // 15
    '100,175,183', // 16
    '139,177,22',  // 17
    '112,29,239']; // 18

  var powBigChartData = {
    type: 'line',
      labels: {{.BlockVersionsHeights}},
      datasets: [
      {{range $i, $element := .BlockVersions}}
        {
            label: "Block v"+{{$i}},
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",0.4)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: {{.RollingWindowLookBacks}},
            spanGaps: false,
        },
      {{end}}
        ],
    options: {
      title: {
        display: true,
        text: 'PoW Block Versions',
        fontColor: '#FFF'
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true,
            fontColor: '#FFF'
          }
        }],
        xAxes: [{
          ticks: {
            autoSkipPadding: 50,
            beginAtZero:true,
            fontColor: '#FFF',
            reverse: true,
          }
        }]
      }
    }
  };

  // pow small
  var powSmallChartData = {
      labels: ["Last {{.BlockVersionWindowLength}} Blocks"],
      datasets: [
      {{range $i, $element := .BlockVersions}}
      {{$length := minus (len $element.RollingWindowLookBacks) 1}}
        {
        type: 'bar',
        label: 'Block v{{$i}}',
        backgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
        data: [{{index $element.RollingWindowLookBacks $length}}],
        },
      {{end}}
      ]
  };

  // pos big
  var voteVersionGraphColors = [
    '','','','','','','','','',
    '111,27,255',  // 9
    '91,192,222',  // 10
    '74,172,255',  // 11
    '63,102,135',  // 12
    '51,122,183',  // 13
    '22,255,122',  // 14
    '0,96,255',    // 15
    '0,62,164',    // 16
    '139,177,22',  // 17
    '112,29,239']; // 18

  var posBigChartData = {
      labels: {{.StakeVersionIntervalLabels}},
      datasets: [
    {{range $i, $element := .StakeVersionIntervalResults}}
    {
          data: {{$element.Count}},
          backgroundColor: "rgba("+voteVersionGraphColors[{{.Version}}]+",1)",
          pointBorderColor: 'rgba(143,143,143,0.5)',
          label: 'Vote v{{$element.Version}}'
      },
  {{end}}
  ]
  };
  // pos small
  var posSmallChartData = {
      labels: [''],
      datasets: [
    {{$interval := index .StakeVersionsIntervals 0}}
      {{range $i, $element := $interval.VoteVersions}}
        {{if gt $element.Count 100}}
        {
        type: 'bar',
        label: 'Vote v{{$element.Version}}',
        backgroundColor: "rgba("+voteVersionGraphColors[{{.Version}}]+",1)",
        data: [{{$element.Count}}],
        },
        {{end}}
      {{end}}
  ]
  };
  // chart types
  // line
  lineChartOptions = {
 // custom legend at a later time
 legendTemplate : '<!-- BEGIN LEGEND -->'
                +'<% for (var i=0; i<datasets.length; i++) { %>'
                  +'<div class="chart-draw-header-indicator" style=\"background-color:<%=datasets[i].lineColor%>\"></div>'
                  +'<div class="chart-draw-header-indicator-name"><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></div>'
              +'<% } %>'
            +'<!-- END LEGEND -->',
      responsive: true,
      maintainAspectRatio: false,
      scales: {
          xAxes: [{
              gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
              ticks: {fontSize: 10, maxTicksLimit: 12}
          }],
          yAxes: [{
              gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
              ticks: {fontSize: 10, beginAtZero: true}
          }]
      },
      legend: {display: true},
      elements: {
          point: {radius: 1, borderWidth: 0},
          line: {tension: 0, borderWidth: 0.01},
      },
      tooltips:{
          intersect: false,
          displayColors: false,
          backgroundColor: '#596d81',
          titleFontFamily: 'Source Sans Pro',
          titleFontSize: 0,
          titleFontStyle: ' normal',
          titleSpacing: -9,
          titleMarginBottom: -4,
          bodyFontFamily: 'Source Sans Pro',
          bodyFontSize: 10,
          bodyFontStyle: 'normal',
          bodySpacing: 0,
          xPadding: 8,
          yPadding: 7,
          cornerRadius: 2,
          caretSize: 9,
      },
      hover:{
          mode: 'nearest',
          animationDuration: 400,
      },
  };
// barchart options regular
  barChartOptions = {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
          xAxes: [{
              barThickness: 10,
              gridLines: {display: false, color: 'rgba(90,109,129,0.19)'},
              ticks: {fontSize: 10},
          }],
          yAxes: [{
              gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
              ticks: {fontSize: 10, beginAtZero: true},
          }]
       },
      legend: {display: true},
      elements: {rectangle: {borderWidth: 0.01}},
      tooltips: {
          intersect: false,
          displayColors: false,
          backgroundColor: '#596d81',
          titleFontFamily: 'Source Sans Pro',
          titleFontSize: 0,
          titleFontStyle: ' normal',
          titleSpacing: -9,
          titleMarginBottom: -4,
          bodyFontFamily: 'Source Sans Pro',
          bodyFontSize: 10,
          bodyFontStyle: 'normal',
          bodySpacing: 0,
          xPadding: 8,
          yPadding: 7,
          cornerRadius: 2,
          caretSize: 9,
      },
      hover:{
          mode: 'nearest',
          animationDuration: 400,
      },
  };
  // barchart options STACKED
  barChartOptionsStacked = {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
          xAxes: [{
              barThickness: 10,
              gridLines: {display: false, color: 'rgba(90,109,129,0.19)'},
              ticks: {fontSize: 10},
      stacked: true,
          }],
          yAxes: [{
              gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
              ticks: {fontSize: 10, beginAtZero: true},
      stacked: true,
          }]
       },
      legend: {display: false},
      elements: {rectangle: {borderWidth: 0.1}},
      tooltips: {
          intersect: false,
          displayColors: false,
          backgroundColor: '#596d81',
          titleFontFamily: 'Source Sans Pro',
          titleFontSize: 0,
          titleFontStyle: ' normal',
          titleSpacing: -9,
          titleMarginBottom: -4,
          bodyFontFamily: 'Source Sans Pro',
          bodyFontSize: 10,
          bodyFontStyle: 'normal',
          bodySpacing: 0,
          xPadding: 8,
          yPadding: 7,
          caretSize: 9,
      },
      hover:{
          mode: 'nearest',
          animationDuration: 400,
      },
  };
  // pow big chart line
  drawTheChart(powBigChartData, lineChartOptions, 'pow-big', 'line');
// custom legend at a later time
// var legend = myChart.generateLegend();
//$('#pow-bigLegend').append(legend);


  // pow small chart bar
  drawTheChart(powSmallChartData, barChartOptionsStacked, 'pow-small', 'bar');

  // pos big chart bar
  drawTheChart(posBigChartData, barChartOptions, 'pos-big', 'bar');
  // pos small chart bar
  drawTheChart(posSmallChartData, barChartOptionsStacked, 'pos-small', 'bar');

// desktop view, charts toggle
  var chartTogglers = document.getElementsByClassName('chart-toggle-side');
  for (var i = 0; i < chartTogglers.length; i++) {
    chartTogglers[i].addEventListener("click", function (event) {
      var that = event.target;
      var thatParent = that.parentNode;
      var powPosUpgradeInfo = thatParent.children[1];
      var powPosChart = thatParent.children[2];

      that.classList.toggle("active");
      thatParent.classList.toggle("active");
      powPosChart.classList.toggle("active");
      powPosUpgradeInfo.classList.toggle("inactive");
    });
  }
</script>
{{ end }}