{{define "home"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Hardfork Demo of Decred Cryptocurrency">
    <meta name="author" content="Decred Developer">
     <!--  Custom favicon  -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="images/favicon/manifest.json">
  <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg">
  <link rel="shortcut icon" href="images/favicon/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="deCRED - decentralized credit">
  <meta name="application-name" content="deCRED - decentralized credit">
  <meta name="msapplication-TileColor" content="#2973ff">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
    <link rel="icon" href="favicon.ico">
    <title>Hardfork Demo</title>
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="css/dynamic.less">
    <script src="js/Chart.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container wrapper">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
     <a class="navbar-brand" href="#">
        <svg class="svg-logo">
        <use xlink:href="images/sprites.svg#svg-decred-logo" />
        </svg>
      </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://faucet.decred.org" title="Testnet Faucet" title="_blank">Testnet Faucet</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="wrapper" style="margin-top:60px;">
	
                <div class="col-md-5">
                        <div class="radial-progress">
                                <div class="circle">
                                        <div class="mask full">
                                                <div class="fill"></div>
                                        </div>
                                        <div class="mask half">
                                                <div class="fill"></div>
                                                <div class="fill fix"></div>
                                        </div>
                                        <div class="shadow"></div>
                                </div>
                                <div class="inset text-center" style="padding-top:12px"><strong>PoW</strong><br /><span class="bigpercent">{{.MostPopularBlockVersionPercentage}}%</span>
				<br />{{if .BlockVersionSuccess}}v{{.CurrentCalculatedBlockVersion}}{{else}}<span class="error">v{{.CurrentCalculatedBlockVersion}}</span>{{end}}<br />
                                {{if .BlockVersionSuccess}}
                                <span class="label label-success">FINISHED</span>
                                {{else}}
                                <span class="label label-default">IN PROGRESS</span>
                                {{end}}
				<p class="textinset">
                                <small><strong>Current Version:</strong> v{{.MostPopularBlockVersion}}<br /><strong>Rolling Window:</strong> {{.BlockVersionWindowLength}} Blocks<br /><strong>Reject Threshold:</strong> {{.BlockVersionRejectThreshold}}%</small>
                                </p> 
				</div>
                        </div>
                          {{if .BlockVersionSuccess}}<div class="alert alert-success">
                            Success! v{{.MostPopularBlockVersion}} had {{.MostPopularBlockVersionPercentage}}% of votes in the latest rolling window and therefore it is the current network block version (v{{.CurrentCalculatedBlockVersion}})
                          </div>
                          {{else}}<div class="alert alert-danger">
                            v{{.CurrentCalculatedBlockVersion}} is still the current block version.  But v{{.MostPopularBlockVersion}} has received {{.MostPopularBlockVersionPercentage}}% of the votes in the latest rolling window.  Be prepared to upgrade if it reaches the threshold.
                          </div>
                          {{end}}
                </div>
                <div class="col-md-5">
                        <div class="radial-progress2">
                                <div class="circle2">
                                        <div class="mask full">
                                                <div class="fill"></div>
                                        </div>
                                        <div class="mask half">
                                                <div class="fill"></div>
                                                <div class="fill fix"></div>
                                        </div>
                                        <div class="shadow"></div>
                                </div>
                                <div class="inset text-center" style="padding-top:12px"><strong>PoS</strong><br />
                                <span class="bigpercent">
                                {{if not .StakeVersionSuccess}}{{.MostPopularStakeVersionPercentage}}%{{end}}
                                {{if .VotingStarted}}{{.MostPopularStakeVersionCount}} <span style="font-size:0.4em">Votes</span>{{end}}
                                </span>
				<br />{{if .StakeVersionSuccess}}v{{.CurrentCalculatedStakeVersion}}{{else}}<span class="error">v{{.CurrentCalculatedStakeVersion}}</span>{{end}}<br />
                                {{if .StakeVersionSuccess}}
                                <span class="label label-success">FINISHED</span><br />
                                {{else}}
                                <span class="label label-default">IN PROGRESS</span><br />
                               {{end}}
			        <p class="textinset">
                                <small><strong>Current Block:</strong> {{.BlockHeight}}<br /><strong>Static Interval:</strong> {{.StakeVersionWindowLength}} Blocks<br /><strong>Upgrade Threshold:</strong> {{.StakeVersionThreshold}}%<br /></small>
                                </p>
				</div>
                        </div>
                          {{if .StakeVersionSuccess}}
                          <div class="alert alert-success">
                            Success! v{{.CurrentCalculatedStakeVersion}} has been set as the current stake version.
                          </div>
                          {{else}}
                           <div class="alert alert-danger">
                            v{{.CurrentCalculatedStakeVersion}} is still the current vote version.  But v{{.MostPopularStakeVersion}} has received {{.MostPopularStakeVersionCount}} / {{.StakeVersionWindowVoteTotal}} of the votes in the latest static window.  Be prepared to upgrade if it reaches the threshold.
                          </div>
                          {{end}}
                </div>
                <div class="col-md-5">
                        <div class="radial-progress3">
                                <div class="circle3">
                                        <div class="mask full">
                                                <div class="fill"></div>
                                        </div>
                                        <div class="mask half">
                                                <div class="fill"></div>
                                                <div class="fill fix"></div>
                                        </div>
                                        <div class="shadow"></div>
                                </div>
                                <div class="inset text-center" style="padding-top:12px"><strong>Stakevoting</strong><br />
                                {{if and .StakeVersionSuccess .BlockVersionSuccess .VotingDefined}}<span class="textinset"><strong>START IN<br />{{.VoteBlockLeft}} BLOCKS</strong></span><br /><br />{{end}}
                                {{if .VotingStarted}}<span class="textinset" style="font-size:1em;"><p><span style="color:#41BF53"><strong>{{.AgendaChoice3Count}} {{.AgendaChoice3Id}}</strong></span> | <span style="color:#FD714A"><strong>{{.AgendaChoice2Count}} {{.AgendaChoice2Id}}</strong></span><br />
                                {{.AgendaChoice1Count}} {{.AgendaChoice1Id}}<br />
                                 Quorum Progress: {{.QuorumVotedPercentage }}%</p></span>{{end}}
                                <!-- <span class="bigpercentvoting">{{if .VotingStarted}}{{end}}</span><br /> -->
                                {{if .VotingStarted}}<span class="label label-success">VOTING STARTED</span>{{end}}
                                {{if .VotingLockedin}}<p class="textinset"><br /><br /><br /><br /></p><span class="label label-success">LOCKED IN</span>{{end}}
                                {{if and .StakeVersionSuccess .BlockVersionSuccess .VotingDefined}}<span class="label label-warning">NOT STARTED</span>{{end}}<br />
				                        <p class="textinset">
                                <small><strong>Agenda ID:</strong>  #{{.AgendaID}}<br /><strong>Voting interval:</strong><br />Block {{.VoteStartHeight}}-{{.VoteEndHeight}}</small>
                                </p>
                                </div>
                        </div>
			{{if and .StakeVersionSuccess .BlockVersionSuccess .VotingDefined}}<div class="alert alert-success">
                            PoW v{{.CurrentCalculatedBlockVersion}} &hearts; PoS v{{.CurrentCalculatedStakeVersion}}<br />
<strong>PoW and PoS miners have upgraded to v{{.CurrentCalculatedStakeVersion}}.  There are {{.VoteBlockLeft}} blocks until the vote begins.</strong>
                          </div>{{end}}
                          {{if not .StakeVersionSuccess }}<div class="alert alert-danger">
                            <span class="text-center">
                              Voting will begin when PoW and PoS miners have upgraded to latest v4 and the next voting interval has been reached.
                          </div>
                          {{end}}
                          {{if .VotingStarted}}<div class="alert alert-success">
                            PoW v{{.CurrentCalculatedBlockVersion}} &hearts; PoS v{{.CurrentCalculatedStakeVersion}}<br />
<strong>PoW and PoS miners have upgraded to v{{.CurrentCalculatedStakeVersion}}.  There are {{.VoteBlockLeft}} blocks left in the vote.</strong>
                          </div>
                          {{end}}
		</div><!-- END CYRCLE OVERVIEW -->





<div id="boxagenda">
<div style="clear:both;">&nbsp;</div>
<h4><span>Agenda</span></h4>
<!-- BEGIN AGENDA OVERVIEW -->    
        <div class="col-md-10">
	<p class="bg-primary inco" style="padding:15px;"><strong>{{.AgendaDescription}}</strong> | <strong>Agenda ID:</strong>  #{{.AgendaID}}</p>
	
          <p class="bg-info" style="background-color:#2971FF;padding:15px;">
            Once the majority of the PoW miners have upgraded ({{.BlockVersionRejectThreshold}}% of the {{.BlockVersionWindowLength}} most recent blocks are at the latest version) 
            and the majority of the PoS miners have upgraded ({{.StakeVersionThreshold}}% of the votes in a {{.StakeVersionWindowLength}} block interval) have upgraded, the voting process begins.
          </p>
        </div>

        <div class="col-md-5 text-right">
	<strong>Upgrade status:</strong>
	<table class="table table-condensed">
	<tbody>
	<tr><td>Network <strong>Block</strong> Version:</td><td><strong>{{if .BlockVersionSuccess}}<span style="color:#41BF53">v{{.CurrentCalculatedBlockVersion}}</span>{{else}}<span style="color:#FD714A">v{{.CurrentCalculatedBlockVersion}}</span>{{end}}</strong></td></tr>
	<tr><td>Most popular block version (v{{.MostPopularBlockVersion}}) percentage:</td><td><strong>{{if .BlockVersionSuccess}}<span style="color:#41BF53">{{.MostPopularBlockVersionPercentage}}%</span>{{else}}<span style="color:#FD714A">{{.MostPopularBlockVersionPercentage}}%</span>{{end}}</td></tr>
	<tr><td>Network <strong>Stake</strong> Version:</td><td><strong>{{if .StakeVersionSuccess}}<span style="color:#41BF53">v{{.CurrentCalculatedStakeVersion}}</span>{{else}}<span style="color:#FD714A">v{{.CurrentCalculatedStakeVersion}}</span>{{end}}</strong></td></tr>
	<tr><td>Most popular stake version (v{{.MostPopularStakeVersion}}):</td><td><span style="color:#FD714A;">{{.MostPopularStakeVersionCount}} / {{.StakeVersionWindowVoteTotal}}</span></td></tr>
	</tbody>
	</table>
        </div>
  </div><!-- BOX AGENDA END -->











<div id="boxpow" class="hidden">
<div style="clear:both;">&nbsp;</div>
<h4><span>Step 1 - PoW Version Upgrade</span></h4>
      <div class="row">
        <div class="col-md-10">
          <h3>Block Version (PoW) {{if .BlockVersionSuccess}}
                                <span class="label label-success">FINISHED</span>
                                {{else}}
                                <span class="label label-default">IN PROGRESS</span>
                                {{end}}</h3>
                                <!-- 95% Threshold reached alertbox --><br />
	  {{if .BlockVersionSuccess}}
          <div class="alert alert-success">
             Success! v{{.MostPopularBlockVersion}} had {{.MostPopularBlockVersionPercentage}}% of votes in the latest rolling window and therefore it is the current network block version(v{{.CurrentCalculatedBlockVersion}})
          </div>
          {{else}}
           <div class="alert alert-danger">
            v{{.CurrentCalculatedBlockVersion}} is still the current block version.  But v{{.MostPopularBlockVersion}} has received {{.MostPopularBlockVersionPercentage}}% of the votes in the latest rolling window.  Be prepared to upgrade if it reaches the threshold.
          </div>
          {{end}}
          <!-- FIRST CHART --><canvas id="blockVersions" width="400" height="200"></canvas>
        </div>
        <div class="col-md-5 text-right">
	<strong>Block Version:</strong>
	<table class="table table-condensed">
	<tbody>
	<tr><td>Current Block Version:</td><td><strong>{{if .BlockVersionSuccess}}<span style="color:#41BF53">v{{.CurrentCalculatedBlockVersion}}</span>{{else}}<span style="color:#FD714A">v{{.CurrentCalculatedBlockVersion}}</span>{{end}}</strong></td></tr>
	<tr><td>Most Popular Block Version:</td><td><strong>{{if .BlockVersionSuccess}}<span style="color:#41BF53">v{{.CurrentCalculatedBlockVersion}}</span>{{else}}<span style="color:#FD714A">v{{.CurrentCalculatedBlockVersion}}</span>{{end}}</strong></td></tr>
	<tr><td>Most Popular:</td><td><strong>{{if .BlockVersionSuccess}}<span style="color:#41BF53"> {{.MostPopularBlockVersionPercentage}}%</span>{{else}}<span style="color:#FD714A">v{{.CurrentCalculatedBlockVersion}}</span>{{end}}</strong></td></tr>
	<tr><td>Reject Threshold:</td><td><strong>{{.BlockVersionRejectThreshold}}%</strong></td></tr>
	<tr><td>Rolling Window:</td><td><strong>{{.BlockVersionWindowLength}} Blocks</strong></td></tr>
	</tbody>
	</table>
  <!-- BEGIN POW BAR LAST 144 BLOCKS --><canvas id="blockVersionsIndicator" width="400" height="380"></canvas>
        </div>
        </div>
  </div><!-- BOXPOW END -->


<div id="boxpos" class="hidden">
<div style="clear:both;">&nbsp;</div>
<h4><span>Step 2 - PoS Version Upgrade</span></h4>
						<div class="row">
        <div class="col-md-10">
          <h3>Stake Version (PoS){{if .StakeVersionSuccess}}
                                <span class="label label-success">FINISHED</span>
                                {{else}}
                                <span class="label label-default">IN PROGRESS</span>
                                {{end}}</h3>
          <!-- 95% Threshold reached alertbox --><br />
          {{if .StakeVersionSuccess}}
          <div class="alert alert-success">
            Success! v{{.CurrentCalculatedStakeVersion}} had {{.MostPopularStakeVersionCount}} of votes in the latest static window and therefore it is the current network stake version (v{{.CurrentCalculatedStakeVersion}})
          </div>
          {{else}}
            <div class="alert alert-danger">
             There are a total of {{.StakeVersionWindowVoteTotal}} votes in each interval. Of those {{.StakeVersionWindowVoteTotal}}, {{.VoteVersionThreshold}} are needed to signal a new version. There are currently {{.MostPopularStakeVersionCount}} votes signaling version v{{.MostPopularStakeVersion}}, with {{.StakeVersionVotesRemaining}} votes remaining
          </div>
          {{end}} 
 
          <!-- SECOND CHART VOTE VERSIONS / SVI -->
      <canvas id="voteVersions" width="400" height="200"></canvas>
        </div>
        <!-- BEGIN POW BAR LAST 144 BLOCKS -->
        <div class="col-md-5 text-right">
	<strong>Stake Version:</strong>
	<table class="table table-condensed">
	<tbody> 
	<tr><td>Current Stake Version:</td><td><strong>{{if .StakeVersionSuccess}}<span style="color:#41BF53">v{{.CurrentCalculatedStakeVersion}}</span>{{else}}<span style="color:#FD714A">v{{.CurrentCalculatedStakeVersion}}</span>{{end}}</strong></td></tr>
	<tr><td>Most Stake Version:</td><td><strong>{{if .StakeVersionSuccess}}<span style="color:#41BF53">v{{.CurrentCalculatedStakeVersion}}</span>{{else}}v{{.MostPopularStakeVersion}}{{end}}</strong></td></tr>
	<tr><td>Most Popular:</td><td><strong>{{.MostPopularStakeVersionCount}} / {{.StakeVersionWindowVoteTotal}}</strong></td></tr>
	<tr><td>Upgrade Threshold:</td><td><strong>{{.StakeVersionThreshold}}%</strong></td></tr>
	<tr><td>Static Interval:</td><td><strong>{{.StakeVersionWindowLength}} Blocks</strong></td></tr>
	</tbody>
	</table>
  <canvas id="voteVersionsIndicator" width="400" height="380"></canvas>
        </div>
							</div> <!-- end row -->
       
  </div><!-- BOXPOS END -->

<div id="boxstake" class="hidden">
<div style="clear:both;">&nbsp;</div>
<h4><span>Step 3 - Quorum</span></h4>

     <!-- BEGIN STEP 1 BLOCK AND VOTEBIT VERSION THRESHOLD 95% -->
      {{if .Quorum}}
      <!-- INTRODUCTION TEXT -->
      <div class="row">
        <div class="col-md-10">
          <h3>Stake Voting{{if .VotingStarted}}
                                <span class="label label-success">VOTING STARTED</span>
                                {{else}}
                                <span class="label label-warning">NOT STARTED</span>
                                {{end}}</h3>
          <p>
            After {{.BlockVersionRejectThreshold}}% of blocks in a rolling window 
            of {{.BlockVersionWindowLength}} blocks are the latest block version 
            <strong>and</strong> {{.StakeVersionThreshold}}% of the vote versions in a fixed 
            {{.StakeVersionWindowLength}} block interval have the latest vote 
            version, voting on a new agenda will begin.
          </p>
          <p>
            Stakeholders can vote either yes, no or abstain.  The wallet's default 
            behavior is to abstain, meaning stakeholders must actively set their 
            votebits in order to vote.
          </p>
          <p>
            Votes cast during a voting period must surpass a quorum of {{.QuorumPercentage}}%, 
            meaning that a minimum of {{.RuleChangeActivationQuorum}} votes in a given voting period must be 
            set to either YES or NO in order for any outcome of the voting on a 
            given issue to be considered valid.  The results of voting on a given 
            issue will only be considered valid if that issue's votes meet the 10% 
            quorum, and this means that the issue will be up for vote again during 
            the next voting period, until it passes its expiration date of {{.QuorumExpirationDate}}.
          </p>
          
          <!-- QUORUM HORIZONTAL BARCHART -->
          <div class="col-md-8">
              {{if .VotingStarted}}<h3>Quorum:</h3>{{end}}
          <canvas id="voteQuorum" width="300" height="150" {{if .VotingStarted}}{{else}}style="display:none;"{{end}}></canvas>
          </div>
          <div class="col-md-7">
            {{if .VotingStarted}}<h3>Voting Progress:</h3>{{end}}
            <div style="width: 350px; height: 350px;">
            <canvas id="voteProgress" width="350" height="350" {{if .VotingStarted}}{{else}}style="display:none;"{{end}}></canvas>
            </div>
          </div>
          <div style="clear:both;">&nbsp;</div>
          {{if .VotingStarted}}<div class="alert alert-danger">
            <strong>Danger!</strong> We have yet not reached the minimum Quorum of 10% actively made votes.
          </div>{{end}}
        </div>
        <div class="col-md-5 text-right">
	<p class="bg-primary inco" style="padding:15px;font-size:12px;">{{.AgendaDescription}}</p>
	<table class="table table-condensed">
	<tbody>
	<tr><td>Agenda ID:</td><td><strong>#{{.AgendaID}}</strong></td></tr>
	<tr><td>Voting Interval:</td><td><strong>{{.VoteStartHeight}}-{{.VoteEndHeight}}</strong></td></tr>
	<tr><td>Blocks left {{if .VotingStarted}}for{{else}}until{{end}} voting:</td><td><strong>{{.VoteBlockLeft}}</strong></td></tr>
  <!--<tr><td>Estimated Vote Expiration Block:</td><td><strong>{{.VoteExpirationBlock}}</strong></td></tr>-->
	</tbody>
	</table>
  {{if .VotingStarted}}
  <strong>Agenda Choices:</strong>
  <table class="table table-condensed">
  <thead><tr><th></th><th>Choice 1</th></tr></thead>
	<tbody>
	<tr><td>Choice ID:</td><td><strong>{{.AgendaChoice1Id}}</strong></td></tr>
	<tr><td>Choice Description:</td><td><strong>{{.AgendaChoice1Description}}</strong></td></tr>
	<tr><td>Votes Received:</td><td><strong>{{.AgendaChoice1Count}}</strong></td></tr>
  <tr><td>Vote Bit:</td><td><strong>{{.AgendaChoice1Bits}}</strong></td></tr>
	</tbody>
	</table>

  <table class="table table-condensed">
  <thead><tr><th></th><th>Choice 2</th></tr></thead>
	<tbody>
	<tr><td>Choice ID:</td><td><strong>{{.AgendaChoice2Id}}</strong></td></tr>
	<tr><td>Choice Description:</td><td><strong>{{.AgendaChoice2Description}}</strong></td></tr>
	<tr><td>Votes Received:</td><td><strong>{{.AgendaChoice2Count}}</strong></td></tr>
  <tr><td>Vote Bit:</td><td><strong>{{.AgendaChoice2Bits}}</strong></td></tr>
	</tbody>
	</table>

  <table class="table table-condensed">
  <thead><tr><th></th><th>Choice 3</th></tr></thead>
	<tbody>
	<tr><td>Choice ID:</td><td><strong>{{.AgendaChoice3Id}}</strong></td></tr>
	<tr><td>Choice Description:</td><td><strong>{{.AgendaChoice3Description}}</strong></td></tr>
	<tr><td>Votes Received:</td><td><strong>{{.AgendaChoice3Count}}</strong></td></tr>
  <tr><td>Vote Bit:</td><td><strong>{{.AgendaChoice3Bits}}</strong></td></tr>
	</tbody>
	</table>
  {{end}}
        </div>
      </div>
    </div>
      {{end}}
</div>
</div><!-- BOXSTAKE END -->
<br /><br /><br /><br /><br />&nbsp;
</div><!-- end wrapper -->

<script src="js/complete.js"></script>

<!-- CHARTS JS -->
 <!-- blockVersions line chart-->
<!-- blockVersions line chart-->
  <script>
    Chart.defaults.global.defaultFontColor = '#fff';
    var blockVersionGraphColors = ['23,12,220','244,100,1','75,192,192','41,113,255','123,22,255','22,255,122', '28,97,21', '100,175,183', '139,177,22', '112,29,239']
    var blockVersionsLineConfig = {
      type: 'line',
      data: {
        labels: {{.BlockVersionsHeights}},
        datasets: [
        {{range $i, $element := .BlockVersions}}
          {
              label: "Block v"+{{$i}},
              fill: true,
              lineTension: 0.1,
              backgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",0.4)",
              borderColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: {{.RollingWindowLookBacks}},
              spanGaps: false,
          },
        {{end}}
          ]
      },
      options: {
        title: {
          display: true,
          text: 'PoW Block Versions',
          fontColor: '#FFF'
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true,
              fontColor: '#FFF'
            }
          }],
          xAxes: [{
            ticks: {
              autoSkipPadding: 50,
              beginAtZero:true,
              fontColor: '#FFF',
              reverse: true,
            }
          }]
        }
      }
    };
    var ctx = document.getElementById("blockVersions");
    var myChart = new Chart(ctx, blockVersionsLineConfig);
    // blockVersions most recent bar chart
    var blockVersionsBarConfig = {
      type: 'bar',
      data: {
        labels: ["Last {{.BlockVersionWindowLength}} Blocks"],
        datasets: [
        {{range $i, $element := .BlockVersions}}
        {{$length := minus (len $element.RollingWindowLookBacks) 1}}
          {
          type: 'bar',
          label: 'Block v{{$i}}',
          backgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
          data: [{{index $element.RollingWindowLookBacks $length}}],
          }, 
        {{end}}
        ]
      },
      options: {
        scales: {
          xAxes: [{
            stacked: true
          }],
          yAxes: [{
            stacked: true
          }]
        }
      }
    };
    var ctx = document.getElementById("blockVersionsIndicator").getContext("2d");
    new Chart(ctx, blockVersionsBarConfig);
    // vote version line graph
    var voteVersionGraphColors = ['23,12,220','244,100,1','75,192,192','41,113,255','123,22,255','22,255,122', '28,97,21', '100,175,183', '139,177,22', '112,29,239']
    var barChartExampleConfig = {
      type: 'bar',
      data: {
        labels: {{.StakeVersionIntervalLabels}},
        datasets: [
          {{range $i, $element := .StakeVersionIntervalResults}}
          {
          label: {{$element.Version}},
          data: {{$element.Count}},
          backgroundColor: "rgba("+voteVersionGraphColors[{{.Version}}]+",1)",
          },
          {{end}}
        ]
      }
    };
    var cty = document.getElementById("voteVersions");
    var myChart = new Chart(cty, barChartExampleConfig);
    var voteVersionBarConfig = {
      type: 'bar',
      data: {
        labels: ["Totals for Block {{.BlockHeight}}"],
        datasets: [
        {{$interval := index .StakeVersionsIntervals 0}}
        {{range $i, $element := $interval.VoteVersions}}
          {{if gt $element.Count 100}}
          {
          type: 'bar',
          label: 'Vote v{{$element.Version}}',
          backgroundColor: "rgba("+voteVersionGraphColors[{{.Version}}]+",1)",
          data: [{{$element.Count}}],
          }, 
          {{end}}
        {{end}}
        ]
      },
      options: {
        scales: {
          xAxes: [{
            stacked: true,
            suggestedMin: 0,
            suggestedMax: {{.StakeVersionWindowVoteTotal}}
          }],
          yAxes: [{
            stacked: true,
            suggestedMin: 0,
            suggestedMax: {{.StakeVersionWindowVoteTotal}}
          }]
        }
      }
    };
    var ctx = document.getElementById("voteVersionsIndicator").getContext("2d");
    new Chart(ctx, voteVersionBarConfig);
    {{if .Quorum}}
    var quorumHorizontalConfig = {
      type: 'horizontalBar',
      data: {
      labels: ["Voted vs. Abstained"],
        datasets: [{
          type: 'horizontalBar',
          label: 'Voted',
          data: [{{.QuorumVotedPercentage}}],
          backgroundColor: '#41BF53',
          }, {
          type: 'horizontalBar',
          label: 'Abstained',
          labelFontColor : "#fff",
          data: [{{.QuorumAbstainedPercentage}}],
          backgroundColor: '#0C1E3E'
        }] 
      },
      options: {
        scales: {
          xAxes: [{
            display: true,
            ticks: {
              suggestedMin: 0,
              suggestedMax: 100,
            }
          }]
        }
      }
    };
    var cta = document.getElementById("voteQuorum");
    new Chart(cta, quorumHorizontalConfig);
    var quorumDonutConfig = {
      type: 'doughnut',
      data: {
      labels: {{.ChoiceIds}},
        datasets: [{
          data: {{.ChoicePercentages}},
          backgroundColor: [
            "#0C1E3E",
            "#FD714A",
            "#41BF53"
          ],
          hoverBackgroundColor: [
            "#05235A",
            "#fa3804",
            "#74DE83"
          ],
          borderColor: [
            "#5bc0de",
            "#ff0000",
            "#00ff00"
          ]
        }]
      }
    };
    var ctu = document.getElementById("voteProgress");
    new Chart(ctu, quorumDonutConfig);
    {{end}}
  </script>


<!-- CIRCLE PROGRESS INDICATORS -->
<script>
$('head style[type="text/css"]').attr('type', 'text/less');
less.refreshStyles();
var transform_styles = ['-webkit-transform', '-ms-transform', 'transform'];
var pow_percent = '{{.MostPopularBlockVersionPercentage}}';
var pos_percent = '{{if .StakeVersionSuccess}}100{{else}}{{.MostPopularStakeVersionPercentage}}{{end}}';
var stake_percent = '{{if .VotingStarted}}{{.QuorumVotedPercentage}}{{else}}0{{end}}{{if .VotingLockedin}}100{{end}}';

window.circle1 = function() {
	var rotation = Math.floor(pow_percent * 1.8);
console.log('1: '+rotation);
	var fill_rotation = rotation;
	var fix_rotation = rotation * 2;
	for(i in transform_styles) {
		$('.circle .fill, .circle .mask.full').css(transform_styles[i], 'rotate(' + fill_rotation + 'deg)');
		$('.circle .fill.fix').css(transform_styles[i], 'rotate(' + fix_rotation + 'deg)');
	}
}
setTimeout(window.circle1, 200);


window.circle2 = function() {
        var rotation2 = Math.floor(pos_percent * 1.8);
console.log('2: '+rotation2);
        var fill_rotation = rotation2;   
        var fix_rotation = rotation2 * 2;
        for(i in transform_styles) {
                $('.circle2 .fill, .circle2 .mask.full').css(transform_styles[i], 'rotate(' + fill_rotation + 'deg)');
                $('.circle2 .fill.fix').css(transform_styles[i], 'rotate(' + fix_rotation + 'deg)');
        }
}
setTimeout(window.circle2, 500);

window.circle3 = function() {
        var rotation3 = Math.floor(stake_percent * 1.8);
console.log('3: '+rotation3);
        var fill_rotation = rotation3;
        var fix_rotation = rotation3 * 3;
        for(i in transform_styles) {
                $('.circle3 .fill, .circle3 .mask.full').css(transform_styles[i], 'rotate(' + fill_rotation + 'deg)');
                $('.circle3 .fill.fix').css(transform_styles[i], 'rotate(' + fix_rotation + 'deg)');
        }
}
setTimeout(window.circle3, 1500);
</script>
  </body>
</html>
{{end}}
