{{define "home"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Decred Voting Dashboard</title>
  <meta content="Decred proof-of-stake voting results dashboard." name="description">
  <meta content="summary" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta http-equiv="refresh" content="300" >
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/components.css" rel="stylesheet" type="text/css">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <!-- fonts.css should be last to ensure dcr fonts take precedence. -->
  <link href="/css/fonts.css" rel="stylesheet" type="text/css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png?v=2">
  <link rel="manifest" href="/images/favicon/site.webmanifest?v=2">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=2" color="#091440">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico?v=2">
  <meta name="msapplication-TileColor" content="#091440">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=2">
  <meta name="theme-color" content="#091440">
  <!-- Favicon end -->

  <!-- OpenGraph tags -->
  <meta property="og:title" content="Decred Voting Dashboard" />
  <meta property="og:description" content="Decred proof-of-stake voting results dashboard." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://voting.decred.org/" />
  <meta property="og:image" content="https://voting.decred.org/images/og-logo.png"/>

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="Decred Voting Dashboard"/>
  <meta name="twitter:description" content="Decred proof-of-stake voting results dashboard."/>
  <meta name="twitter:image" content="https://voting.decred.org/images/og-logo.png"/>
  <!-- OpenGraph tags end -->

  <script src="/js/modernizr.js"></script>
  <style>
  {{range $i, $agenda := .Agendas}}
    {{if $agenda.VotingStarted }}
      {{range $cid, $choice := $agenda.VoteChoices}}	
  .option-progress.a_{{$agenda.ID}}-c{{$choice.ID}} {
  width: {{twoDecimalPlaces ($agenda.VoteCountPercentage $choice.ID)}}%;
  }
      {{end}}
    {{end}}
  {{end}}
  </style>

</head>
<body class="body">
  <div class="main">
    <div class="header-bg">
      <div class="header w-clearfix width-1180">
        <a class="header-logo w-inline-block" href="https://www.decred.org" target="_blank" rel="noopener noreferrer">
          <img src="/images/logo.svg" />
        </a>
        <a class="header-link" href="{{.BlockExplorerURL}}/block/{{.BlockHeight}}" target="_blank" rel="noopener noreferrer">Block #{{commaSeparate .BlockHeight}}</a>
        {{if .IsUpgrading}}
<!-- Phase 1 Upgrading -->
          <span class="header-link"> | &nbsp;Current phase: Upgrading</span>
          {{if .BlockVersionSuccess}}
          <span class="finished indicator transition">PoW</span>
          {{else}}
          <span class="in-progress indicator transition">PoW {{ printf "%.1f" .BlockVersionNextPercentage }}%</span>
          {{end}}
          {{if .PosUpgrade.Completed}}
            <span class="finished indicator transition">PoS</span>
          {{else}}
            <span class="in-progress indicator transition">PoS {{twoDecimalPlaces .StakeVersionMostPopularPercentage}}%</span>
          {{end}}

        {{else}}
<!-- Phase 2 Voting -->
          {{if .PendingActivation}}
            <span class="header-link"> | &nbsp;Current phase: Pending Activation</span>
            {{else}}
              {{if .RulesActivated}}
                <span class="header-link"> | &nbsp;Current phase: Rules Activated</span>
              {{else}}
                <span class="header-link"> | &nbsp;Current phase: Voting</span>
              {{end}}
          {{end}}
        {{end}}
      </div>
    </div>

    {{ template "charts" .}}
    {{ template "agenda-cards" .}}
    {{ template "voting-overview" .}}

    </div>
  </div>

  <script src="/js/chart.min.js"></script>
  <script src="/js/chart.extentions.js"></script>

  {{ template "chart-js" .}}

  </div>
</body>
</html>
{{end}}
