{{define "home"}}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Decred PoW &amp; PoS voting results</title>
  <meta content="Decred PoW &amp; PoS voting results" name="description">
  <meta content="Decred PoW &amp; PoS voting results" property="og:title">
  <meta content="Decred PoW &amp; PoS voting results" property="og:description">
  <meta content="images/ogMainSite.jpg" property="og:image">
  <meta content="summary" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/decred-hardforkwebsite.css" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="images/favicon/manifest.json">
  <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg">
  <link rel="shortcut icon" href="images/favicon/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="deCRED - decentralized credit">
  <meta name="application-name" content="deCRED - decentralized credit">
  <meta name="msapplication-TileColor" content="#2973ff">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
  <link rel="icon" href="favicon.ico">
  <script src="js/modernizr.js" type="text/javascript"></script>
  <style>
  .progress-percent.pow {
  width: {{.BlockVersionMostPopularPercentage}}%;
  {{if not .BlockVersionSuccess}}
  background-color:#fd714b;
  {{end}}
  }
  .progress-percent.pos {
  width: {{.StakeVersionMostPopularPercentage}}%;
  {{if not .StakeVersionSuccess}}
  background-color:#fd714b;
  {{end}}
  }
  </style>

</head>
<body class="body">
  <div class="tooltip w-clearfix">
    <div class="tooltip-dot"></div>
    <div class="margin-right-5 tooltip-option-name"></div>
    <div class="tooltip-option-value"></div>
    <div class="tooltip-square"></div>
  </div>
  <div class="main">
    <div class="header">
      <div class="header w-clearfix width-1180">
        <a class="header-logo w-inline-block" href="http://www.decred.org"></a>
        <a class="header-link w-button" href="#">Testnet Faucet</a>
      </div>
    </div>
    <div class="voting-overview">
      <div class="w-clearfix width-1180">
        <div class="voting-overview-graph width-590"></div>
        <div class="voting-overview w-clearfix width-590">
          <div class="heading voting-overview">Voting Overview</div>
          <div class="text-block voting-overview">
            <p>
There is a two-phase process for voting to implement consensus changes that would create a hard fork.
            </p>
            <p>
The first step is to meet the upgrade threshold on the network. After the hard fork code is released, a majority of the nodes on the network participating in PoW/PoS need to first upgrade before the voting can begin. For Proof-of-Work, at least {{.BlockVersionRejectThreshold}}% of the {{.BlockVersionWindowLength}} most recent blocks must have the latest block version. For Proof-of-Stake, {{.StakeVersionThreshold}}% of the votes cast within a static {{.StakeVersionWindowLength}} block interval must have the latest vote version.
            </p>
            <p>
The second step of this process is the actual voting. The previous {{.StakeVersionWindowLength}} block interval falls somewhere within a larger 5040 block interval and the network must wait for that larger 5040 block interval to end. Because of the different interval lengths, it might take up to an additional 5040 blocks before the voting window begins. After that, a static 5040 block interval transpires while votes are cast and if 75% of the votes mined within that interval signal a ‘yes’ vote to the proposed changes, the changes are fully implemented after one additional block interval (to give any remaining nodes the time needed to update to avoid being forked off the blockchain).
            </p>
        </div>
      </div>
    </div>
    <div class="pow-pos-upgrade">
      <div class="overflow-hidden pow-pos-upgrade w-clearfix width-1180">
        <div class="pow-upgrade w-clearfix width-half">
          <div class="chart-toggle-side pow"></div>
          <div class="pow-upgrade transition upgrade-content">
            <div class="upgrade-content-statistics-header w-clearfix">
              <div class="heading pow-pos">PoW Upgrade</div>
<!--  POW STATUS LABEL SWITCH -->
              {{if .BlockVersionSuccess}}
              <div class="finished indicator pow-pos transition">finished</div>
              {{else}}
              <div class="in-progress indicator pow-pos transition">in-progress</div>
              {{end}}
            </div>
            <div class="upgrade-content-statistics-main w-clearfix">
              <div class="upgrade-content-statistics-numbers w-clearfix">Current Version: 
<!-- POW CURRENT VERSION LATEST OR NEEDS UPGRADE COLOR SWITCH -->
                {{if .BlockVersionSuccess}}
                <span class="highlight-text green">v{{.BlockVersionCurrent}}</span>
                {{else}}
                <span class="highlight-text orange">v{{.BlockVersionCurrent}}</span>
                {{end}}
                <br> Most Popular Version: <span class="highlight-text green">v{{.BlockVersionMostPopular}}</span>
                <br> Most Popular: <span class="highlight-text">{{.BlockVersionMostPopularPercentage}}%</span>
                <br> Reject Threshold: <span class="highlight-text">{{.BlockVersionRejectThreshold}}%</span>
                <br> Rolling Window: <span class="highlight-text">{{.BlockVersionWindowLength}} Blocks</span>
              </div>
              <div class="pow-pos-time-remaining transition"></div>
            </div>
            <div class="progress-bar-pow-pos-upgrade">
              <div class="progress-indicator w-clearfix">
                <div class="pow progress-percent"></div>
              </div>
              <div class="pow-pos-upgrade progress-bar-threshold"></div>
              <div class="heading progress-bar-pow-pos-percent">{{.BlockVersionMostPopularPercentage}}%</div>
            </div>
          </div>
          <div class="chart pow w-clearfix">
            <div class="chart-info w-clearfix">
              <div class="heading pow-pos">PoW Upgrade</div>
              <div class="chart-statistics-numbers upgrade-content-statistics-numbers w-clearfix">Current Version: 
<!-- POW CURRENT VERSION LATEST OR NEEDS UPGRADE COLOR SWITCH -->
                {{if .BlockVersionSuccess}}
                <span class="highlight-text green">v{{.BlockVersionCurrent}}</span>
                {{else}}
                <span class="highlight-text orange">v{{.BlockVersionCurrent}}</span>
                {{end}}
                <br> Most Popular Version: <span class="highlight-text green">v{{.BlockVersionMostPopular}}</span>
                <br> Most Popular: <span class="highlight-text">{{.BlockVersionMostPopularPercentage}}%</span>
                <br> Reject Threshold: <span class="highlight-text">{{.BlockVersionRejectThreshold}}%</span>
                <br> Rolling Window: <span class="highlight-text">{{.BlockVersionWindowLength}} Blocks</span>
              </div>
            </div>
            <div class="chart-draw lines-big w-clearfix">
              <div class="chart-draw-header w-clearfix" id="pow-bigLegend">
              </div>
              <div class="chart-draw-area">
                  <canvas id="pow-big"></canvas>
              </div>
            </div>
            <div class="bars-small chart-draw w-clearfix">
              <div class="chart-draw-area">
                  <canvas id="pow-small"></canvas>
              </div>
            </div>
          </div>
        </div>


        <div class="pos-upgrade w-clearfix width-half">
          <div class="chart-toggle-side pos"></div>
          <div class="pos-upgrade transition upgrade-content">
            <div class="upgrade-content-statistics-header w-clearfix">
              <div class="heading pow-pos">PoS Upgrade</div>
<!--  POS STATUS LABEL SWITCH -->
              {{if .StakeVersionSuccess}}
              <div class="finished indicator pow-pos transition">finished</div>
              {{else}}
              <div class="in-progress indicator pow-pos transition">in-progress</div>
              {{end}}
            </div>
            <div class="upgrade-content-statistics-main w-clearfix">
              <div class="upgrade-content-statistics-numbers w-clearfix">Current Version: 
<!-- POW CURRENT VERSION LATEST OR NEEDS UPGRADE COLOR SWITCH -->
                {{if .StakeVersionSuccess}}                
                <span class="highlight-text green">v{{.StakeVersionCurrent}}</span>
                {{else}}
                <span class="highlight-text orange">v{{.StakeVersionCurrent}}</span>
                {{end}}
                <br> Most Popular Version: <span class="highlight-text green">v{{.StakeVersionMostPopular}}</span>
                <br> Most Popular: <span class="highlight-text">{{.StakeVersionMostPopularCount}}/{{.StakeVersionWindowVoteTotal}} Votes</span>
                <br> Reject Threshold: <span class="highlight-text">{{.StakeVersionThreshold}}%</span>
                <br> Rolling Window: <span class="highlight-text">{{.StakeVersionWindowLength}} Blocks</span>
              </div>
              <div class="pow-pos-time-remaining transition">5h 43 min remaining</div>
            </div>
            <div class="progress-bar-pow-pos-upgrade">
              <div class="progress-indicator w-clearfix">
                <div class="pow pos progress-percent"></div>
              </div>
              <div class="pow-pos-upgrade progress-bar-threshold"></div>
              <div class="heading progress-bar-pow-pos-percent">{{.StakeVersionMostPopularPercentage}}%</div>
            </div>
          </div>
          <div class="chart pos w-clearfix">
            <div class="chart-info w-clearfix">
              <div class="heading pow-pos">PoS Upgrade</div>
              <div class="chart-statistics-numbers upgrade-content-statistics-numbers w-clearfix">Current Version: 
                {{if .StakeVersionSuccess}}                
                <span class="highlight-text green">v{{.StakeVersionCurrent}}</span>
                {{else}}
                <span class="highlight-text orange">v{{.StakeVersionCurrent}}</span>
                {{end}}                
                <br> Most Popular Version: <span class="highlight-text green">v{{.StakeVersionMostPopular}}</span>
                <br> Most Popular: <span class="highlight-text">{{.StakeVersionMostPopularCount}}/{{.StakeVersionWindowVoteTotal}} Votes</span>
                <br> Reject Threshold: <span class="highlight-text">{{.StakeVersionThreshold}}%</span>
                <br> Rolling Window: <span class="highlight-text">{{.StakeVersionWindowLength}} Blocks</span>
              </div>
            </div>
            <div class="chart-draw lines-big w-clearfix">
              <div class="chart-draw-area">
                  <canvas id="pos-big"></canvas>
              </div>
            </div>
            <div class="bars-small chart-draw w-clearfix">
              <div class="chart-draw-header w-clearfix">
              <!-- custom legend removed -->
              </div>
              <div class="chart-draw-area">
                  <canvas id="pos-small"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="agendas w-clearfix">
      <div class="agendas w-clearfix width-1180">
  
<!-- agenda loop start -->
        {{if or .VotingActive .VotingLockedin .VotingFailed}}
        <div class="agenda drop-shadow-n-element w-clearfix">
        {{end}}
        {{if or .VotingDefined .VotingStarted}}
        <div class="agenda drop-shadow-first-element w-clearfix">
        {{end}}
          <div class="agenda-section w-clearfix">
            <div class="agenda-indicator w-clearfix">
              <!-- labels -->
              {{if .VotingDefined}}
              <div class="indicator upcoming">upcoming</div>
              {{end}}
              {{if .VotingStarted}}
              <div class="in-progress indicator">in-progress</div>
              {{end}}
              {{if .VotingActive}}
              <div class="finished indicator">Finished</div>
              {{end}}
              {{if .VotingFailed}}
              <div class="failed indicator">Failed</div>
              {{end}}
              {{if .VotingLockedin}}
              <div class="finished indicator">Lockedin</div>
              {{end}}

              <!-- status icons -->
              {{if .VotingLockedin}}
              <div class="indicator-icon lockin" data-tooltip-text="Lock-in phase, new rules not yet activated"></div>
              {{end}}
              {{if .VotingActive}}
               <div class="activated indicator-icon active" data-tooltip-text="Voting Succeeded, New Rules Activated"></div>
              {{end}}

              <!-- quorum indicator -->
              {{if .VotingStarted}}
              <div class="quorum w-clearfix">Quorum: &nbsp;
                {{if .QuorumAchieved}}
                <span class="highlight-text green transparent quorum">Yes</span>
                {{else}}
                <span class="highlight-text orange transparent quorum">No</span>
                {{end}}
              </div>
              {{end}}
            </div>

            <!-- agenda details -->
            <div class="w-clearfix width-half">
              <div class="agenda heading">{{.AgendaID}}</div>
              <div class="agenda-cfg w-clearfix">
                <div class="agenda-cfg-spec w-clearfix">Agenda ID: &nbsp;<span class="highlight-text cyan transparent">#{{.AgendaID}}</span>
                </div>
                <div class="agenda-cfg-spec w-clearfix">Voting Interval: &nbsp;<span class="highlight-text cyan transparent">{{.GetVoteInfoResult.StartHeight}}-{{.GetVoteInfoResult.EndHeight}}</span>
                </div>
                <div class="agenda-cfg-spec w-clearfix">If anything missing: &nbsp;<span class="highlight-text cyan transparent">Add here</span>
                </div>
              </div>
              <div class="agenda-paragraph">
                <p>{{.AgendaDescription}}</p>
                {{if and .StakeVersionSuccess .BlockVersionSuccess .VotingDefined}}
                <p>Blocks left {{if .VotingStarted}}for{{else}}until{{end}} voting: {{minus64 .GetVoteInfoResult.EndHeight .GetVoteInfoResult.CurrentHeight}}</p>
                {{end}}
                {{if .VotingStarted}}
                  {{if .QuorumAchieved}}
                    <p><strong>Success!</strong> We have reached the minimum Quorum of {{.QuorumThreshold}}% actively made votes.<br />
                    There are <strong>{{minus64 .GetVoteInfoResult.EndHeight .GetVoteInfoResult.CurrentHeight}}</strong> blocks left in the vote.
                    </p>
                  {{else}}
                    <p>We have yet not reached the minimum Quorum of {{.QuorumThreshold}}% actively made votes.
                    </p>
                  {{end}}
                {{end}}
                {{if .VotingActive}}
                    <p>The new rules have been activated. Ensure you are running a recent enough software version that supports the new rules. Visit our <a href="https://forum.decred.org/forums/development-dispatches/" target="_blank">Forum</a> to get the latest Development Dispatches.
                    </p>
                {{end}}
              </div>
            </div>

            <!-- agenda choices list -->
            <div class="left-padding-50 w-clearfix width-half">
              <div class="agenda-voting-overview-options-title w-clearfix">
                <div class="agenda-voting-overview">voting overview:</div>
              </div>
              <div class="agenda-voting-overview-options w-clearfix">
                <div class="width-third">
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_1 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option 1</div>
                    <div class="agenda-voting-overview-option-percent value">60%</div>
                  </div>
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_2 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option 2</div>
                    <div class="agenda-voting-overview-option-percent value">30%</div>
                  </div>
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_3 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option 3</div>
                    <div class="agenda-voting-overview-option-percent value">10%</div>
                  </div>
                </div>
                <div class="width-third">
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_4 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option n</div>
                    <div class="agenda-voting-overview-option-percent value">000%</div>
                  </div>
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_5 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option n</div>
                    <div class="agenda-voting-overview-option-percent value">000%</div>
                  </div>
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_6 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option n</div>
                    <div class="agenda-voting-overview-option-percent value">000%</div>
                  </div>
                </div>
                <div class="w-clearfix width-third">
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="agenda-voting-overview-option-dot n"></div>
                    <div class="agenda-voting-overview-option-percent">Option n</div>
                    <div class="agenda-voting-overview-option-percent value">000%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- agenda voting results barchart -->
          {{if .VotingStarted}}
          <div class="agenda-section progress-bar w-clearfix">
            <div class="progress-bar-agenda w-clearfix">
              <div class="progress-bar-competing-options-and-total-votes w-clearfix">
                <div class="progress-bar-competing-options w-clearfix">
                  <div class="option-1 option-progress" data-tooltip-text="Option 1" data-tooltip-value="60"></div>
                  <div class="option-2 option-progress" data-tooltip-text="Option 2" data-tooltip-value="30"></div>
                  <div class="option-3 option-progress" data-tooltip-text="Option 3" data-tooltip-value="10"></div>
                </div>
                <div class="total-votes-cast" data-tooltip-text="Total Votes Cast" data-tooltip-value="0"></div>
              </div>
              <div class="agenda progress-bar-threshold"></div>
              <div class="heading progress-bar-agenda-voting-percent">0%</div>
            </div>
          </div>
          {{end}}

          <!-- agenda toplabel -->
          {{if and .StakeVersionSuccess .BlockVersionSuccess .VotingDefined}}
          <div class="agenda-voting-begins">Starts in {{minus64 .GetVoteInfoResult.EndHeight .GetVoteInfoResult.CurrentHeight}} blocks</div>
          {{end}}
          {{if .VotingStarted}}
            {{if .QuorumAchieved}}
              <div class="agenda-voting-begins">Quorum achieved
              </div>
            {{else}}
              <div class="agenda-voting-begins">Quorum Progress: {{.QuorumVotedPercentage }}%
              </div>
            {{end}} 
          {{end}}
          {{if .VotingLockedin}}
            <div class="agenda-voting-begins">
              Success - Please Upgrade your Software - <strong>{{minus64 .GetVoteInfoResult.EndHeight .GetVoteInfoResult.CurrentHeight}}</strong> blocks left
            </div>
          {{end}}
          {{if .VotingFailed}}
            <div class="agenda-voting-begins">Voting failed
            </div>
          {{end}}
        </div>
<!-- agenda loop end -->


        <div class="agenda drop-shadow-n-element w-clearfix">
          <div class="agenda-section w-clearfix">
            <div class="agenda-indicator w-clearfix">
              <div class="in-progress indicator">in-progress</div>
              <div class="indicator-icon lockin" data-tooltip-text="Lock-in phase, new rules not yet activated"></div>
              <div class="activated indicator-icon" data-tooltip-text="Voting Succeeded, New Rules Activated"></div>
              <div class="quorum w-clearfix">Quorum: &nbsp;<span class="highlight-text orange transparent quorum">No</span>
              </div>
            </div>
            <div class="w-clearfix width-half">
              <div class="agenda heading">Agenda name</div>
              <div class="agenda-cfg w-clearfix">
                <div class="agenda-cfg-spec w-clearfix">Agenda ID: &nbsp;<span class="highlight-text cyan transparent">#maxblocksize</span>
                </div>
                <div class="agenda-cfg-spec w-clearfix">Voting Interval: &nbsp;<span class="highlight-text cyan transparent">288048-293087</span>
                </div>
                <div class="agenda-cfg-spec w-clearfix">If anything missing: &nbsp;<span class="highlight-text cyan transparent">Add here</span>
                </div>
              </div>
              <div class="agenda-paragraph">Change maximum allowed block size from 1MB to 1.25MiB
                <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo&nbsp;</div>
            </div>
            <div class="left-padding-50 w-clearfix width-half">
              <div class="agenda-voting-overview-options-title w-clearfix">
                <div class="agenda-voting-overview">voting overview:</div>
              </div>
              <div class="agenda-voting-overview-options w-clearfix">
                <div class="width-third">
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_1 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option 1</div>
                    <div class="agenda-voting-overview-option-percent value">60%</div>
                  </div>
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_2 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option 2</div>
                    <div class="agenda-voting-overview-option-percent value">30%</div>
                  </div>
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_3 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option 3</div>
                    <div class="agenda-voting-overview-option-percent value">10%</div>
                  </div>
                </div>
                <div class="width-third">
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_4 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option n</div>
                    <div class="agenda-voting-overview-option-percent value">000%</div>
                  </div>
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_5 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option n</div>
                    <div class="agenda-voting-overview-option-percent value">000%</div>
                  </div>
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_6 agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent">Option n</div>
                    <div class="agenda-voting-overview-option-percent value">000%</div>
                  </div>
                </div>
                <div class="w-clearfix width-third">
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="agenda-voting-overview-option-dot n"></div>
                    <div class="agenda-voting-overview-option-percent">Option n</div>
                    <div class="agenda-voting-overview-option-percent value">000%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="agenda-section progress-bar w-clearfix">
            <div class="progress-bar-agenda w-clearfix">
              <div class="progress-bar-competing-options-and-total-votes w-clearfix">
                <div class="progress-bar-competing-options w-clearfix">
                  <div class="option-1 option-progress" data-tooltip-text="Option 1" data-tooltip-value="60"></div>
                  <div class="option-2 option-progress" data-tooltip-text="Option 2" data-tooltip-value="30"></div>
                  <div class="option-3 option-progress" data-tooltip-text="Option 3" data-tooltip-value="10"></div>
                </div>
                <div class="total-votes-cast" data-tooltip-text="Total Votes Cast" data-tooltip-value="0"></div>
              </div>
              <div class="agenda progress-bar-threshold"></div>
              <div class="heading progress-bar-agenda-voting-percent">0%</div>
            </div>
          </div>
        </div>
        <!-- Agenda card end -->

      
      </div>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
<script src="js/decred-hardforkwebsite.js" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script src="js/chart.min.js"></script>
<script src="js/chart.extentions.js"></script>
<script src="js/webfont.js"></script>
<script src="js/hfsite.js"></script>

<script>
  	var time = 100,
	    viewport = $(window),
	    active = 'active',
	    inactive = 'inactive',

	    //agenda
	    agenda = $('.agenda'),

	    // agenda progressbar percent bar
	    optionProgress = $('.option-progress'),
	    totalVotesCast = $('.total-votes-cast'),

	    // tooltip
	    tooltip = $('.tooltip'),
	    	tooltipDot = $('.tooltip-dot').hide(),
	    	tooltipSquare = $('.tooltip-square').hide(),
	    	tooltipOptionName = $('.tooltip-option-name'),
	    	tooltipOptionValue = $('.tooltip-option-value'),

	    // indicator icon
	    indicatorIcon = $('.indicator-icon'),

	    // charts desktop toggle button
	    powPosChartToggle = $('.chart-toggle-side');


  	// charts draw
	function drawTheChart(ChartData, ChartOptions, chartId, ChartType) {
		var myChart = new Chart(document.getElementById(chartId).getContext('2d'),
		    {
		    	type: ChartType,
		    	data: ChartData,
		    	options: ChartOptions
		    }
		 );
		document.getElementById(chartId).getContext('2d').stroke();
	}

	// charts begin
	// charts global vars
	Chart.defaults.global.defaultFontColor = '#fff';
	// charts data
	// pow big
    var blockVersionGraphColors = ['23,12,220','244,100,1','75,192,192','41,113,255','123,22,255','22,255,122', '28,97,21', '100,175,183', '139,177,22', '112,29,239']
    var powBigChartData = {
      type: 'line',

        labels: {{.BlockVersionsHeights}},
        datasets: [
        {{range $i, $element := .BlockVersions}}
          {
              label: "Block v"+{{$i}},
              fill: true,
              lineTension: 0.1,
              backgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",0.4)",
              borderColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: {{.RollingWindowLookBacks}},
              spanGaps: false,
          },
        {{end}}
          ],
      options: {
        title: {
          display: true,
          text: 'PoW Block Versions',
          fontColor: '#FFF'
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true,
              fontColor: '#FFF'
            }
          }],
          xAxes: [{
            ticks: {
              autoSkipPadding: 50,
              beginAtZero:true,
              fontColor: '#FFF',
              reverse: true,
            }
          }]
        }
      }
    };

	// pow small
    var powSmallChartData = {
        labels: ["Last {{.BlockVersionWindowLength}} Blocks"],
        datasets: [
        {{range $i, $element := .BlockVersions}}
        {{$length := minus (len $element.RollingWindowLookBacks) 1}}
          {
          type: 'bar',
          label: 'Block v{{$i}}',
          backgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
          data: [{{index $element.RollingWindowLookBacks $length}}],
          }, 
        {{end}}
        ]
    };

	// pos big
  var voteVersionGraphColors = ['111,27,255','91,192,222','74,172,255','63,102,135','51,122,183','22,255,122', '0,96,255', '0,62,164', '139,177,22', '112,29,239']
	var posBigChartData = {
		labels: {{.StakeVersionIntervalLabels}},
		datasets: [
      {{range $i, $element := .StakeVersionIntervalResults}}
      {
			data: {{$element.Count}},
			backgroundColor: "rgba("+voteVersionGraphColors[{{.Version}}]+",1)",
			borderColor: 'rgba(143,143,143,0.5)',
			pointBorderColor: 'rgba(143,143,143,0.5)',
			label: 'Vote v{{$element.Version}}'
		},
    {{end}}
    ]
	};
	// pos small
	var posSmallChartData = {
		labels: [''],
		datasets: [
      {{$interval := index .StakeVersionsIntervals 0}}
        {{range $i, $element := $interval.VoteVersions}}
          {{if gt $element.Count 100}}
          {
          type: 'bar',
          label: 'Vote v{{$element.Version}}',
          backgroundColor: "rgba("+voteVersionGraphColors[{{.Version}}]+",1)",
          data: [{{$element.Count}}],
          }, 
          {{end}}
        {{end}}
    ]
	};
	// chart types
	// line
	lineChartOptions = {
   // custom legend at a later time
   legendTemplate : '<!-- BEGIN LEGEND -->'
                  +'<% for (var i=0; i<datasets.length; i++) { %>'
                    +'<div class="chart-draw-header-indicator" style=\"background-color:<%=datasets[i].lineColor%>\"></div>'
                    +'<div class="chart-draw-header-indicator-name"><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></div>'
                +'<% } %>'
              +'<!-- END LEGEND -->',
		responsive: true,
		maintainAspectRatio: false,
		scales: {
			xAxes: [{
				gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10, maxTicksLimit: 12}
			}],
			yAxes: [{
				gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10, beginAtZero: true}
			}]
		},
		legend: {display: true},
		elements: {
			point: {radius: 1, borderWidth: 0},
			line: {tension: 0, borderWidth: 0.01},
		},
		tooltips:{
			intersect: false,
			displayColors: false,
			backgroundColor: '#596d81',
			titleFontFamily: 'Source Sans Pro',
			titleFontSize: 0,
			titleFontStyle: ' normal',
			titleSpacing: -9,
			titleMarginBottom: -4,
			bodyFontFamily: 'Source Sans Pro',
			bodyFontSize: 10,
			bodyFontStyle: 'normal',
			bodySpacing: 0,
			xPadding: 8,
			yPadding: 7,
			cornerRadius: 2,
			caretSize: 9,
		},
		hover:{
			mode: 'nearest',
			animationDuration: 400,
		},
	};
  // barchart options regular
	barChartOptions = {
		responsive: true,
		maintainAspectRatio: false,
		scales: {
			xAxes: [{
				barThickness: 10,
				gridLines: {display: false, color: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10},
			}],
			yAxes: [{
				gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10, beginAtZero: true},
			}]
	 	},
		legend: {display: true},
		elements: {rectangle: {borderWidth: 0.01}},
		tooltips: {
			intersect: false,
			displayColors: false,
			backgroundColor: '#596d81',
			titleFontFamily: 'Source Sans Pro',
			titleFontSize: 0,
			titleFontStyle: ' normal',
			titleSpacing: -9,
			titleMarginBottom: -4,
			bodyFontFamily: 'Source Sans Pro',
			bodyFontSize: 10,
			bodyFontStyle: 'normal',
			bodySpacing: 0,
			xPadding: 8,
			yPadding: 7,
			cornerRadius: 2,
			caretSize: 9,
		},
		hover:{
			mode: 'nearest',
			animationDuration: 400,
		},
	};
	// barchart options STACKED
	barChartOptionsStacked = {
		responsive: true,
		maintainAspectRatio: false,
		scales: {
			xAxes: [{
				barThickness: 10,
				gridLines: {display: false, color: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10},
        stacked: true,
			}],
			yAxes: [{
				gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10, beginAtZero: true},
        stacked: true,
			}]
	 	},
		legend: {display: false},
		elements: {rectangle: {borderWidth: 0.1}},
		tooltips: {
			intersect: false,
			displayColors: false,
			backgroundColor: '#596d81',
			titleFontFamily: 'Source Sans Pro',
			titleFontSize: 0,
			titleFontStyle: ' normal',
			titleSpacing: -9,
			titleMarginBottom: -4,
			bodyFontFamily: 'Source Sans Pro',
			bodyFontSize: 10,
			bodyFontStyle: 'normal',
			bodySpacing: 0,
			xPadding: 8,
			yPadding: 7,
			caretSize: 9,
		},
		hover:{
			mode: 'nearest',
			animationDuration: 400,
		},
	};
	// pow big chart line
	drawTheChart(powBigChartData, lineChartOptions, 'pow-big', 'line');
  // custom legend at a later time
  // var legend = myChart.generateLegend();
  //$('#pow-bigLegend').append(legend);


	// pow small chart bar
	drawTheChart(powSmallChartData, barChartOptionsStacked, 'pow-small', 'bar');

	// pos big chart bar
	drawTheChart(posBigChartData, barChartOptions, 'pos-big', 'bar');
	// pos small chart bar
	drawTheChart(posSmallChartData, barChartOptionsStacked, 'pos-small', 'bar');



	// desktop view, charts toggle
	powPosChartToggle.click(function() {
		var that = $(this),
		    thatParent = that.parent(),
		    powPosUpgradeInfo = that.parent().children().eq(1),
		    powPosChart = that.parent().children().eq(2);

		$(this).add(thatParent).add(powPosChart).toggleClass(active);
		powPosUpgradeInfo.toggleClass(inactive);

		$('.chartjs-hidden-iframe').remove();
	});

</script>
</body>
</html>
{{end}}