{{define "home"}}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Decred Voting Dashboard</title>
  <meta content="Decred PoW &amp; PoS voting results" name="description">
  <meta content="Decred PoW &amp; PoS voting results" property="og:title">
  <meta content="Decred PoW &amp; PoS voting results" property="og:description">
  <meta content="images/ogMainSite.jpg" property="og:image">
  <meta content="summary" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta http-equiv="refresh" content="300" >
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/decred-hardforkwebsite.css" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="images/favicon/manifest.json">
  <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg">
  <link rel="shortcut icon" href="images/favicon/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="deCRED - decentralized credit">
  <meta name="application-name" content="deCRED - decentralized credit">
  <meta name="msapplication-TileColor" content="#2973ff">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
  <link rel="icon" href="favicon.ico">
  <script src="js/modernizr.js" type="text/javascript"></script>
  <style>
  .progress-percent.pow {
  {{if not .BlockVersionSuccess}}
  background-color:#fd714b;
  width: {{.BlockVersionNextPercentage}}%;
  {{else}}
  width: 100%;
  {{end}}
  }
  .progress-percent.pos {
  width: {{.StakeVersionMostPopularPercentage}}%;
  {{if not .StakeVersionSuccess}}
  background-color:#fd714b;
  {{end}}
  }

  {{range $i, $agenda := .Agendas}}
    {{if or $agenda.IsStarted $agenda.IsActive $agenda.IsLockedIn $agenda.IsFailed }}
      {{range $cid, $choice := .ChoiceIDsActing}}
      {{$cid1 := plus $cid 1}}
      {{$ch := index $agenda.Choices $cid}}
  .option-progress.a_{{$agenda.Id}}-c{{$choice}} {
  width: {{index $agenda.ChoicePercentagesActing $cid}}%;
  }
      {{end}}
    {{end}}
  {{end}}
  </style>

</head>
<body class="body">
  <div class="tooltip w-clearfix">
    <div class="tooltip-dot"></div>
    <div class="margin-right-5 tooltip-option-name"></div>
    <div class="tooltip-option-value"></div>
    <div class="tooltip-square"></div>
  </div>
  <div class="main">
    <div class="header">
      <div class="header w-clearfix width-1180">
        <a class="header-logo w-inline-block" href="http://www.decred.org"></a>
        {{if eq .Network "testnet"}}
        <a class="header-link w-button" href="faucet.decred.org"> | &nbsp;Testnet Faucet</a>
        {{end}}
        {{if .IsUpgrading}}
<!-- Phase 1 Upgrading -->
        <span class="header-link"> | &nbsp;Current phase: Upgrading 
          <!--
          {{if .StakeVersionSuccess}}<div class="finished indicator transition">PoS</div>{{else}}<div class="in-progress indicator transition">PoS {{.StakeVersionMostPopularPercentage}}</div>{{end}}
          {{if .BlockVersionSuccess}}<div class="finished indicator transition">PoW</div>{{else}}<div class="in-progress indicator transition">PoW {{.BlockVersionNextPercentage}}%</div>{{end}}
          -->
        </spam>  
        {{else}}
<!-- Phase 2 Voting -->
          <span class="header-link"> | &nbsp;Current phase: Voting
            <!--
          {{range $i, $agenda := .Agendas}}        
              {{if $agenda.IsDefined}}
              <div class="indicator upcoming">{{$agenda.Id}} Upcoming</div>
              {{end}}
              {{if $agenda.IsStarted}}
              <div class="in-progress indicator">{{$agenda.Id}} {{$agenda.QuorumVotedPercentage }}%</div>
              {{end}}
              {{if $agenda.IsActive}}
              <div class="finished indicator">{{$agenda.Id}} Success</div>
              {{end}}
              {{if $agenda.IsFailed}}
              <div class="failed indicator">{{$agenda.Id}} Failed</div>
              {{end}}
              {{if $agenda.IsLockedIn}}
              <div class="finished indicator">{{$agenda.Id}} LockedIn</div>
              {{end}}
          {{end}}
          -->
          </span> 
        {{end}}
        <a class="header-link w-button" href="{{.BlockExplorerLink}}">Block #{{.BlockHeight}}</a>
      </div>
    </div>

    <div class="pow-pos-upgrade">
      <div class="overflow-hidden pow-pos-upgrade w-clearfix width-1180">
        <div class="pow-upgrade w-clearfix width-half">
          <div class="chart-toggle-side pow"></div>
          <div class="pow-upgrade transition upgrade-content">
            <div class="upgrade-content-statistics-header w-clearfix">
              <div class="heading pow-pos">Miner Upgrade</div>
<!--  POW STATUS LABEL SWITCH -->
              {{if .BlockVersionSuccess}}
              <div class="finished indicator pow-pos transition">Completed</div>
              {{else}}
              <div class="in-progress indicator pow-pos transition">in-progress</div>
              {{end}}
              <div class="headingsubline">Proof-of-Work</div>
            </div>
            <div class="upgrade-content-statistics-main w-clearfix">
              <div class="upgrade-content-statistics-numbers w-clearfix">Current Version: 
<!-- POW CURRENT VERSION LATEST OR NEEDS UPGRADE COLOR SWITCH -->
                {{if .BlockVersionSuccess}}
                <span class="highlight-text green">v{{.BlockVersionCurrent}}</span>
                {{else}}
                <span class="highlight-text orange">v{{.BlockVersionCurrent}}</span>
                {{end}}
                {{if .BlockVersionSuccess}}
                <br> Next Version: <span class="highlight-text green">v{{.BlockVersionNext}}</span>
                {{else}}
                <br> Next Version: <span class="highlight-text orange">v{{.BlockVersionNext}}</span>
                {{end}}
                <!-- <br> Next: <span class="highlight-text">{{.BlockVersionNextPercentage}}%</span> -->
                <!--<br> Most Popular Version: <span class="highlight-text green">v{{.BlockVersionMostPopular}}</span>
                <br> Most Popular: <span class="highlight-text">{{.BlockVersionMostPopularPercentage}}%</span>-->
                <br> Upgrade Threshold: <span class="highlight-text">{{.BlockVersionRejectThreshold}}%</span>
                <br> Rolling Window: <span class="highlight-text">{{.BlockVersionWindowLength}} Blocks</span>
              </div>
              <div class="pow-pos-time-remaining transition"></div>
            </div>
            <div class="progress-bar-pow-pos-upgrade">
              <div class="progress-indicator w-clearfix">
                <div class="pow progress-percent"></div>
              </div>
              {{if not .BlockVersionSuccess}}
              <div class="pow-pos-upgrade progress-bar-threshold" style="left: {{.BlockVersionRejectThreshold}}%"></div>
              {{end}}
              <div class="heading progress-bar-pow-pos-percent">{{if not .BlockVersionSuccess}}
                {{.BlockVersionNextPercentage}}%
                {{else}}
                Phase Complete
                {{end}}</div>
            </div>
          </div>
          <div class="chart pow w-clearfix">
            <div class="chart-info w-clearfix">
              <div class="heading pow-pos">Miner Upgrade</div>
              <div class="headingsubline">Proof-of-Work</div>
              <div class="chart-statistics-numbers upgrade-content-statistics-numbers w-clearfix">Current Version: 
<!-- POW CURRENT VERSION LATEST OR NEEDS UPGRADE COLOR SWITCH -->
                {{if .BlockVersionSuccess}}
                <span class="highlight-text green">v{{.BlockVersionCurrent}}</span>
                {{else}}
                <span class="highlight-text orange">v{{.BlockVersionCurrent}}</span>
                {{end}}
                {{if .BlockVersionSuccess}}
                <br> Next Version: <span class="highlight-text green">v{{.BlockVersionNext}}</span>
                {{else}}
                <br> Next Version: <span class="highlight-text orange">v{{.BlockVersionNext}}</span>
                {{end}}
                <!-- <br> Next: <span class="highlight-text">{{.BlockVersionNextPercentage}}%</span> -->
                <!--<br> Most Popular Version: <span class="highlight-text green">v{{.BlockVersionMostPopular}}</span>
                <br> Most Popular: <span class="highlight-text">{{.BlockVersionMostPopularPercentage}}%</span>-->
                <br> Upgrade Threshold: <span class="highlight-text">{{.BlockVersionRejectThreshold}}%</span>
                <br> Rolling Window: <span class="highlight-text">{{.BlockVersionWindowLength}} Blocks</span>
              </div>
            </div>
            <div class="chart-draw lines-big w-clearfix">
              <div class="chart-draw-header w-clearfix" id="pow-bigLegend">
              </div>
              <div class="chart-draw-area">
                  <canvas id="pow-big"></canvas>
              </div>
            </div>
            <div class="bars-small chart-draw w-clearfix">
              <div class="chart-draw-area">
                  <canvas id="pow-small"></canvas>
              </div>
            </div>
          </div>
        </div>


        <div class="pos-upgrade w-clearfix width-half">
          <div class="chart-toggle-side pos"></div>
          <div class="pos-upgrade transition upgrade-content">
            <div class="upgrade-content-statistics-header w-clearfix">
              <div class="heading pow-pos">Voter Upgrade</div>
<!--  POS STATUS LABEL SWITCH -->
              {{if .StakeVersionSuccess}}
              <div class="finished indicator pow-pos transition">Completed</div>
              {{else}}
              <div class="in-progress indicator pow-pos transition">in-progress</div>
              {{end}}
              <div class="headingsubline">Proof-of-Stake</div>
            </div>
            <div class="upgrade-content-statistics-main w-clearfix">
              <div class="upgrade-content-statistics-numbers w-clearfix">Current Version: 
<!-- POW CURRENT VERSION LATEST OR NEEDS UPGRADE COLOR SWITCH -->
                {{if .StakeVersionSuccess}}                
                <span class="highlight-text green">v{{.StakeVersionCurrent}}</span>
                {{else}}
                <span class="highlight-text orange">v{{.StakeVersionCurrent}}</span>
                {{end}}
                {{if .StakeVersionSuccess}}
                <br> Most Popular Version: <span class="highlight-text green">v{{.StakeVersionMostPopular}}</span>
                {{else}}
                <br> Most Popular Version: <span class="highlight-text orange">v{{.StakeVersionMostPopular}}</span>
                {{end}}
                <!-- <br> Most Popular: <span class="highlight-text">{{.StakeVersionMostPopularCount}}/{{.StakeVersionWindowVoteTotal}} Votes</span> -->
                <br> Upgrade Threshold: <span class="highlight-text">{{.StakeVersionThreshold}}%</span>
                <br> Upgrade Interval: <span class="highlight-text">{{.StakeVersionIntervalBlocks}}</span>
              </div>
              {{if not .StakeVersionSuccess}}
              <div class="pow-pos-time-remaining transition">{{.StakeVersionTimeRemaining}}</div>
              {{end}}
            </div>
            <div class="progress-bar-pow-pos-upgrade">
              <div class="progress-indicator w-clearfix">
                <div class="pos progress-percent"></div>
              </div>
              {{if not .StakeVersionSuccess}}
              <div class="pow-pos-upgrade progress-bar-threshold" style="left: {{.StakeVersionThreshold}}%"></div>
              {{end}}
              <div class="heading progress-bar-pow-pos-percent">{{if not .StakeVersionSuccess}}
                {{.StakeVersionMostPopularPercentage}}%
                {{else}}
                Phase Complete
                {{end}}</div>
            </div>
          </div>
          <div class="chart pos w-clearfix">
            <div class="chart-info w-clearfix">
              <div class="heading pow-pos">Voter Upgrade</div>
              <div class="headingsubline">Proof-of-Stake</div>
              <div class="chart-statistics-numbers upgrade-content-statistics-numbers w-clearfix">Current Version: 
                {{if .StakeVersionSuccess}}                
                <span class="highlight-text green">v{{.StakeVersionCurrent}}</span>
                {{else}}
                <span class="highlight-text orange">v{{.StakeVersionCurrent}}</span>
                {{end}}                
                {{if .StakeVersionSuccess}}
                <br> Most Popular Version: <span class="highlight-text green">v{{.StakeVersionMostPopular}}</span>
                {{else}}
                <br> Most Popular Version: <span class="highlight-text orange">v{{.StakeVersionMostPopular}}</span>
                {{end}}
                <!-- <br> Most Popular: <span class="highlight-text">{{.StakeVersionMostPopularCount}}/{{.StakeVersionWindowVoteTotal}} Votes</span> -->
                <br> Upgrade Threshold: <span class="highlight-text">{{.StakeVersionThreshold}}%</span>
                <br> Upgrade Interval: <span class="highlight-text">{{.StakeVersionIntervalBlocks}}</span>
              </div>
            </div>
            <div class="chart-draw lines-big w-clearfix">
              <div class="chart-draw-area">
                  <canvas id="pos-big"></canvas>
              </div>
            </div>
            <div class="bars-small chart-draw w-clearfix">
              <div class="chart-draw-header w-clearfix">
              <!-- custom legend removed -->
              </div>
              <div class="chart-draw-area">
                  <canvas id="pos-small"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="agendas w-clearfix">
      <div id="agendalisting" class="agendas w-clearfix width-1180">
  
<!-- agenda loop start -->
    {{range $i, $agenda := .Agendas}}
        {{if or $agenda.IsActive $agenda.IsLockedIn $agenda.IsFailed }}
        <div class="agenda drop-shadow-n-element w-clearfix">
        {{end}}
        {{if or $agenda.IsDefined $agenda.IsStarted}}
        <div class="agenda drop-shadow-first-element w-clearfix">
        {{end}}
          <div class="agenda-section w-clearfix">
            <div class="agenda-indicator w-clearfix">
              <!-- labels -->
              {{if $agenda.IsDefined}}
              <div class="indicator upcoming">upcoming</div>
              {{end}}
              {{if $agenda.IsStarted}}
              <div class="in-progress indicator">in-progress</div>
              {{end}}
              {{if $agenda.IsActive}}
              <div class="finished indicator">Finished</div>
              {{end}}
              {{if $agenda.IsFailed}}
              <div class="failed indicator">Failed</div>
              {{end}}
              {{if $agenda.IsLockedIn}}
              <div class="finished indicator">Lockedin</div>
              {{end}}

              <!-- status icons -->
              <div class="indicator-icon lockin {{if or $agenda.IsLockedIn $agenda.IsActive}}active{{end}}" data-tooltip-text="{{if $agenda.IsActive}}Locked-in, New Rules Activated{{end}}{{if $agenda.IsLockedIn}}Lock-in phase, new rules not yet activated{{else}}Voting phase, new rules not yet locked-in{{end}}"></div>
           
              
               <div class="activated indicator-icon {{if $agenda.IsActive}}active{{end}}" data-tooltip-text="{{if $agenda.IsActive}}Lock-in Phase passed, New Rules Activated{{end}}{{if $agenda.IsLockedIn}}Lock-in phase, New Rules will activate soon. Upgrade your Software.{{end}}{{if $agenda.IsStarted}}Voting phase, new rules not yet activated{{end}}"></div>
              

              <!-- quorum indicator -->
              {{if $agenda.IsStarted}}
              <div class="quorum w-clearfix">Quorum: &nbsp;
                {{if eq $agenda.QuorumProgress 1.0}}
                <span class="highlight-text green transparent quorum">Yes</span>
                {{else}}
                <span class="highlight-text orange transparent quorum">No</span>
                {{end}}
              </div>
              {{end}}
            </div>

            <!-- agenda details -->
            <div class="w-clearfix width-half">
              <div class="agenda heading">
                {{if eq $agenda.Id "sdiffalgorithm"}}Change PoS Staking Algorithm{{end}}
                {{if eq $agenda.Id "lnsupport"}}Start Lightning Network Support{{end}}
              </div>
              <div class="agenda-cfg w-clearfix">
                <div class="agenda-cfg-spec w-clearfix">Agenda ID: &nbsp;<span class="highlight-text cyan transparent">#{{$agenda.Id}}</span>
                </div>
                {{if $agenda.IsStarted}}
                <div class="agenda-cfg-spec w-clearfix">
                  Voting Interval: &nbsp;<span class="highlight-text cyan transparent">{{$.GetVoteInfoResult.StartHeight}} - {{$.GetVoteInfoResult.EndHeight}}</span>
                </div>
                <div class="agenda-cfg-spec w-clearfix">
                 Blocks left: &nbsp;<span class="highlight-text cyan transparent">{{minus64 $.GetVoteInfoResult.EndHeight $.GetVoteInfoResult.CurrentHeight}}</span>
                </div>                
                {{end}}
                
              </div>
              <div class="agenda-paragraph">
                <p style="font-weight: bold;">{{$agenda.DescriptionWithDCPURL}}</p>
                {{if eq $agenda.Id "sdiffalgorithm"}}
                <p>Specifies a proposed replacement algorithm for determining the stake difficulty (commonly called the ticket price). This proposal resolves all issues with a new algorithm that adheres to the referenced ideals.</p>
                {{end}}
                {{if eq $agenda.Id "lnsupport"}}
                <p>The <a href="https://lightning.network/" target="_blank">Lightning Network</a> is the most directly useful application of smart contracts to date since it allows for off-chain transactions that optionally settle on-chain. This infrastructure has clear benefits for both scaling and privacy. Decred is optimally positioned for this integration.</p>
                {{end}}
              </div>
            </div>

            <!-- agenda choices list -->
            <div class="left-padding-50 w-clearfix width-half">
              <div class="agenda-voting-overview-options-title w-clearfix">
                <div class="agenda-voting-overview">voting overview:</div>
              </div>
              <div class="agenda-voting-overview-options w-clearfix">
                <div class="width-third">
                  {{range $cid, $choice := .ChoiceIDsActing}}
                  {{$cid1 := plus $cid 1}}
                  {{$ch := index $agenda.Choices $cid}}
                  <div class="agenda-voting-overview-option w-clearfix">
                    <div class="_{{$cid1}} agenda-voting-overview-option-dot"></div>
                    <div class="agenda-voting-overview-option-percent" data-tooltip-text="">{{$choice}}</div>
                    {{if or $agenda.IsStarted $agenda.IsActive $agenda.IsLockedIn $agenda.IsFailed }} <div class="agenda-voting-overview-option-percent value">{{index $agenda.ChoicePercentagesActing $cid}}%</div>{{end}}
                  </div>
                  {{if modiszero $cid1 3}}
                </div>
                <div class="width-third">
                  {{end}}
                  {{end}}
                </div>
              </div>
                {{if and $.StakeVersionSuccess $.BlockVersionSuccess $agenda.IsDefined}}
                <div class="agenda-voting-overview-disclaimer" style="width: 66%">
                <p><small>Blocks left {{if $agenda.IsStarted}}for{{else}}until{{end}} voting: {{minus64 $.GetVoteInfoResult.EndHeight $.GetVoteInfoResult.CurrentHeight}}</small></p>
                </div>
                {{end}}

                {{if $agenda.IsStarted}}
                  {{if eq $agenda.QuorumProgress 1.0}}
                    <div class="agenda-voting-overview-disclaimer">
                    <p><small><strong>Success!</strong> We have reached the minimum Quorum of {{$.QuorumThreshold}}% actively made votes.<br />
                    There are <strong>{{minus64 $.GetVoteInfoResult.EndHeight $.GetVoteInfoResult.CurrentHeight}}</strong> blocks left in the vote.</small>
                    </p>
                    </div>
                  {{else}}
                  <!--
                    <div class="agenda-voting-overview-disclaimer">
                    <p>We have yet not reached the minimum Quorum of {{$.QuorumThreshold}}% actively made votes.
                    </p>
                    </div> -->
                  {{end}}
                {{end}}
                {{if $agenda.IsActive}}
                    <div class="agenda-voting-overview-disclaimer">
                    <p><small>The new rules have been activated. Ensure you are running a recent enough software version that supports the new rules. Visit our <a href="https://forum.decred.org/forums/development-dispatches/" target="_blank">Forum</a> to get the latest Development Dispatches.</small>
                    </p>
                    </div>
                {{end}}
            </div>
          </div>

          <!-- agenda voting results barchart -->
          {{if or $agenda.IsStarted $agenda.IsActive $agenda.IsLockedIn $agenda.IsFailed}}
          <div class="agenda-section progress-bar w-clearfix">
            <div class="progress-bar-agenda w-clearfix">
              <div class="progress-bar-competing-options-and-total-votes w-clearfix">
                <div class="progress-bar-competing-options w-clearfix" style="width:{{if gt $agenda.VoteCountPercentage 50.00}}{{$agenda.VoteCountPercentage}}{{else}}{{50}}{{end}}%">
                  {{range $cid, $choice := .ChoiceIDsActing}}
                  {{$cid1 := plus $cid 1}}
                  <div class="option-{{$cid1}} option-progress a_{{$agenda.Id}}-c{{$choice}}" data-tooltip-text="{{$choice}}" data-tooltip-value="{{index $agenda.ChoicePercentagesActing $cid}}"></div>
                  {{end}}
                </div>
                <!-- <div class="total-votes-cast" data-tooltip-text="Total Votes Cast" data-tooltip-value="0"></div> -->
              </div>
              <!-- <div class="agenda progress-bar-threshold"></div> -->
              <div class="heading progress-bar-agenda-voting-percent">{{$agenda.VoteCountPercentage }}%</div>
            </div>
          </div>
          {{end}}

          <!-- agenda toplabel -->
          <!--
          {{if and $.StakeVersionSuccess $.BlockVersionSuccess $agenda.IsDefined}}
          <div class="agenda-voting-begins">Starts in {{minus64 $.GetVoteInfoResult.EndHeight $.GetVoteInfoResult.CurrentHeight}} blocks</div>
          {{end}}
          {{if $agenda.IsStarted}}
            {{if eq $agenda.QuorumProgress 1.0}}
              <div class="agenda-voting-begins">Quorum achieved
              </div>
            {{else}}
              <div class="agenda-voting-begins">Quorum Progress: {{$agenda.QuorumVotedPercentage }}%
              </div>
            {{end}} 
          {{end}}
          {{if $agenda.IsLockedIn}}
            <div class="agenda-voting-begins">
              Success - Please Upgrade your Software - <strong>{{minus64 $.GetVoteInfoResult.EndHeight $.GetVoteInfoResult.CurrentHeight}}</strong> blocks left
            </div>
          {{end}}
          {{if $agenda.IsFailed}}
            <div class="agenda-voting-begins">Voting failed
            </div>
          {{end}}
          -->
        </div>
      {{end}}
<!-- agenda loop end -->     
      </div>


    <div class="voting-overview">
      <div class="w-clearfix width-1180">
        <div class="voting-overview-graph width-590"></div>
        <div class="voting-overview w-clearfix width-590">
          <div class="heading voting-overview">Voting Overview</div>
          <div class="text-block voting-overview">
            <p>
There is a two-phase process for voting to implement consensus changes that would create a hard fork.
            </p>
            <p>
<span class="highlightoverview">The first Phase</span> is meeting the upgrade threshold on the network. A majority of PoS/PoW nodes on the network must upgrade before voting can begin. 
This is measured in the following ways:
            </p>
            <p>
- For PoW, at least {{.BlockVersionRejectThreshold}}% of the {{.BlockVersionWindowLength}} most recent blocks must have the latest block version.<br />
- For PoS, {{.StakeVersionThreshold}}% of the votes cast within a static {{.StakeVersionWindowLength}} block interval must have the latest vote version.
            </p>
            <p>
<span class="highlightoverview">The second phase</span> is the voting itself. Voting takes place within a static {{.RuleChangeActivationInterval}} block interval. If 75% of votes mined within that interval signal a ‘yes’ vote to the proposals, the changes are implemented. Implementation happens after one additional block interval to allow any remaining nodes to update prior to the fork.
            </p>
        </div>
      </div>
    </div>





    </div>
  </div>
<script src="js/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="js/decred-hardforkwebsite.js" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script src="js/chart.min.js"></script>
<script src="js/chart.extentions.js"></script>
<script src="js/webfont.js"></script>
<script src="js/hfsite.js"></script>

<script>
  	var time = 100,
	    viewport = $(window),
	    active = 'active',
	    inactive = 'inactive',

	    //agenda
	    agenda = $('.agenda'),

	    // agenda progressbar percent bar
	    optionProgress = $('.option-progress'),
	    totalVotesCast = $('.total-votes-cast'),

	    // tooltip
	    tooltip = $('.tooltip'),
	    	tooltipDot = $('.tooltip-dot').hide(),
	    	tooltipSquare = $('.tooltip-square').hide(),
	    	tooltipOptionName = $('.tooltip-option-name'),
	    	tooltipOptionValue = $('.tooltip-option-value'),

	    // indicator icon
	    indicatorIcon = $('.indicator-icon'),

	    // charts desktop toggle button
	    powPosChartToggle = $('.chart-toggle-side');


  	// charts draw
	function drawTheChart(ChartData, ChartOptions, chartId, ChartType) {
		var myChart = new Chart(document.getElementById(chartId).getContext('2d'),
		    {
		    	type: ChartType,
		    	data: ChartData,
		    	options: ChartOptions
		    }
		 );
		document.getElementById(chartId).getContext('2d').stroke();
	}

	// charts begin
	// charts global vars
	Chart.defaults.global.defaultFontColor = '#fff';
	// charts data
	// pow big
    var blockVersionGraphColors = ['23,12,220','244,100,1','75,192,192','41,113,255','123,22,255','22,255,122', '28,97,21', '100,175,183', '139,177,22', '112,29,239']
    var powBigChartData = {
      type: 'line',
        labels: {{.BlockVersionsHeights}},
        datasets: [
        {{range $i, $element := .BlockVersions}}
          {
              label: "Block v"+{{$i}},
              fill: true,
              lineTension: 0.1,
              backgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",0.4)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: {{.RollingWindowLookBacks}},
              spanGaps: false,
          },
        {{end}}
          ],
      options: {
        title: {
          display: true,
          text: 'PoW Block Versions',
          fontColor: '#FFF'
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true,
              fontColor: '#FFF'
            }
          }],
          xAxes: [{
            ticks: {
              autoSkipPadding: 50,
              beginAtZero:true,
              fontColor: '#FFF',
              reverse: true,
            }
          }]
        }
      }
    };

	// pow small
    var powSmallChartData = {
        labels: ["Last {{.BlockVersionWindowLength}} Blocks"],
        datasets: [
        {{range $i, $element := .BlockVersions}}
        {{$length := minus (len $element.RollingWindowLookBacks) 1}}
          {
          type: 'bar',
          label: 'Block v{{$i}}',
          backgroundColor: "rgba("+blockVersionGraphColors[{{$i}}-1]+",1)",
          data: [{{index $element.RollingWindowLookBacks $length}}],
          }, 
        {{end}}
        ]
    };

	// pos big
  var voteVersionGraphColors = ['111,27,255','91,192,222','74,172,255','63,102,135','51,122,183','22,255,122', '0,96,255', '0,62,164', '139,177,22', '112,29,239']
	var posBigChartData = {
		labels: {{.StakeVersionIntervalLabels}},
		datasets: [
      {{range $i, $element := .StakeVersionIntervalResults}}
      {
			data: {{$element.Count}},
			backgroundColor: "rgba("+voteVersionGraphColors[{{.Version}}]+",1)",
			pointBorderColor: 'rgba(143,143,143,0.5)',
			label: 'Vote v{{$element.Version}}'
		},
    {{end}}
    ]
	};
	// pos small
	var posSmallChartData = {
		labels: [''],
		datasets: [
      {{$interval := index .StakeVersionsIntervals 0}}
        {{range $i, $element := $interval.VoteVersions}}
          {{if gt $element.Count 100}}
          {
          type: 'bar',
          label: 'Vote v{{$element.Version}}',
          backgroundColor: "rgba("+voteVersionGraphColors[{{.Version}}]+",1)",
          data: [{{$element.Count}}],
          }, 
          {{end}}
        {{end}}
    ]
	};
	// chart types
	// line
	lineChartOptions = {
   // custom legend at a later time
   legendTemplate : '<!-- BEGIN LEGEND -->'
                  +'<% for (var i=0; i<datasets.length; i++) { %>'
                    +'<div class="chart-draw-header-indicator" style=\"background-color:<%=datasets[i].lineColor%>\"></div>'
                    +'<div class="chart-draw-header-indicator-name"><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></div>'
                +'<% } %>'
              +'<!-- END LEGEND -->',
		responsive: true,
		maintainAspectRatio: false,
		scales: {
			xAxes: [{
				gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10, maxTicksLimit: 12}
			}],
			yAxes: [{
				gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10, beginAtZero: true}
			}]
		},
		legend: {display: true},
		elements: {
			point: {radius: 1, borderWidth: 0},
			line: {tension: 0, borderWidth: 0.01},
		},
		tooltips:{
			intersect: false,
			displayColors: false,
			backgroundColor: '#596d81',
			titleFontFamily: 'Source Sans Pro',
			titleFontSize: 0,
			titleFontStyle: ' normal',
			titleSpacing: -9,
			titleMarginBottom: -4,
			bodyFontFamily: 'Source Sans Pro',
			bodyFontSize: 10,
			bodyFontStyle: 'normal',
			bodySpacing: 0,
			xPadding: 8,
			yPadding: 7,
			cornerRadius: 2,
			caretSize: 9,
		},
		hover:{
			mode: 'nearest',
			animationDuration: 400,
		},
	};
  // barchart options regular
	barChartOptions = {
		responsive: true,
		maintainAspectRatio: false,
		scales: {
			xAxes: [{
				barThickness: 10,
				gridLines: {display: false, color: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10},
			}],
			yAxes: [{
				gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10, beginAtZero: true},
			}]
	 	},
		legend: {display: true},
		elements: {rectangle: {borderWidth: 0.01}},
		tooltips: {
			intersect: false,
			displayColors: false,
			backgroundColor: '#596d81',
			titleFontFamily: 'Source Sans Pro',
			titleFontSize: 0,
			titleFontStyle: ' normal',
			titleSpacing: -9,
			titleMarginBottom: -4,
			bodyFontFamily: 'Source Sans Pro',
			bodyFontSize: 10,
			bodyFontStyle: 'normal',
			bodySpacing: 0,
			xPadding: 8,
			yPadding: 7,
			cornerRadius: 2,
			caretSize: 9,
		},
		hover:{
			mode: 'nearest',
			animationDuration: 400,
		},
	};
	// barchart options STACKED
	barChartOptionsStacked = {
		responsive: true,
		maintainAspectRatio: false,
		scales: {
			xAxes: [{
				barThickness: 10,
				gridLines: {display: false, color: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10},
        stacked: true,
			}],
			yAxes: [{
				gridLines: {color: 'rgba(90,109,129,0.19)', zeroLineColor: 'rgba(90,109,129,0.19)'},
				ticks: {fontSize: 10, beginAtZero: true},
        stacked: true,
			}]
	 	},
		legend: {display: false},
		elements: {rectangle: {borderWidth: 0.1}},
		tooltips: {
			intersect: false,
			displayColors: false,
			backgroundColor: '#596d81',
			titleFontFamily: 'Source Sans Pro',
			titleFontSize: 0,
			titleFontStyle: ' normal',
			titleSpacing: -9,
			titleMarginBottom: -4,
			bodyFontFamily: 'Source Sans Pro',
			bodyFontSize: 10,
			bodyFontStyle: 'normal',
			bodySpacing: 0,
			xPadding: 8,
			yPadding: 7,
			caretSize: 9,
		},
		hover:{
			mode: 'nearest',
			animationDuration: 400,
		},
	};
	// pow big chart line
	drawTheChart(powBigChartData, lineChartOptions, 'pow-big', 'line');
  // custom legend at a later time
  // var legend = myChart.generateLegend();
  //$('#pow-bigLegend').append(legend);


	// pow small chart bar
	drawTheChart(powSmallChartData, barChartOptionsStacked, 'pow-small', 'bar');

	// pos big chart bar
	drawTheChart(posBigChartData, barChartOptions, 'pos-big', 'bar');
	// pos small chart bar
	drawTheChart(posSmallChartData, barChartOptionsStacked, 'pos-small', 'bar');



	// desktop view, charts toggle
	powPosChartToggle.click(function() {
		var that = $(this),
		    thatParent = that.parent(),
		    powPosUpgradeInfo = that.parent().children().eq(1),
		    powPosChart = that.parent().children().eq(2);

		$(this).add(thatParent).add(powPosChart).toggleClass(active);
		powPosUpgradeInfo.toggleClass(inactive);

		$('.chartjs-hidden-iframe').remove();
	});

</script>
</body>
</html>
{{end}}
