{{ define "voting-overview" }}
<div class="voting-overview w-clearfix">
    <img src="/images/infographic.svg" class="voting-overview-graph"></img>
    <div class="text-block">
        <h2 class="heading">Voting Overview</h2>
        <p>
            There is a two-phase process for voting to implement consensus changes that would create a hard fork.
        </p>
        <p>
            <span class="highlightoverview">The first Phase</span> is meeting the upgrade threshold on the network. A majority of PoS/PoW nodes on the network must upgrade before voting can begin. This is measured in the following ways:
        </p>
        <ul>
            <li>For PoW, at least {{.BlockVersionRejectThreshold}}% of the {{commaSeparate .BlockVersionWindowLength}} most recent blocks must have the latest block version.</li>
            <li>For PoS, {{.StakeVersionThreshold}}% of the votes cast within a static {{commaSeparate .StakeVersionWindowLength}} block interval must have the latest vote version.</li>
        </ul>
        <p>
            <span class="highlightoverview">The second phase</span> is the voting itself. Voting takes place within a static {{commaSeparate .RuleChangeActivationInterval}} block interval. If 75% of votes mined within that interval signal a ‘yes’ vote to the proposals, the changes are implemented. Implementation happens after one additional block interval to allow any remaining nodes to update prior to the fork.
        </p>
        <p>
            <span class="highlightoverview"><a href="https://docs.decred.org/governance/consensus-rule-voting/consensus-rules-voting/" target="_blank" rel="noopener noreferrer">Visit our Documentation to learn more</a></span>
        </p>
    </div>
</div>
{{ end }}
